[2020-04-11 15:34] zqian opened #1 "need to upgrade serialize-javascript version"
serialize-javascript version needs to be ">=2.1.1" based on GitHub alert.

[2020-04-15 19:10] mfldavidson opened #3 "Add other hosts as moderators so they can record a meeting"

[2020-04-16 13:20] jlost opened #4 "Persistent meeting ID for owner-attendee pairings"
I found that if I keep adding myself to a queue and then taking myself off the queue, I keep getting new meeting IDs. I wonder if that is going to eventually be a problem.
Possible solution:  Reuse the same meeting ID per student for the semester since I think the meeting IDs in BlueJeans are permanent and not ephemeral. If they are one-time use only and expire, then may be the current design is f

[2020-04-16 13:21] jlost commented on #4
Looks like we can't resurrect deleted meetings in BJN, and deleting is the only way to get them out of the BJN interface.

I'm going to leave all meetings in BJN, but add a "Delete all ROHQ meetings in BlueJeans" button to the /manage interface. And add a note to all create BJN meetings explaining how to do that.

This ended up being very complicated, but "Delete all ROHQ meetings in BlueJeans" se

[2020-04-16 13:22] jlost opened #5 "Feature: Notify subscribed users when the queue is open or closed"
It could be useful for a user to subscribe to an email alert (or unsubscribe) when a queue is opened or closed. That way, they wouldn't have to periodically keep checking back to see if the Professor has opened the queue. Subscriptions can be canceled for everyone at the end of the term.
This is assuming that the feature to open/close queue has been implemented.

--Atul Prakash

This was noted as

[2020-04-16 13:23] jlost opened #6 "Feature: Have a separate field in which the student can enter alternate contact information (e.g. email, cell phone #, etc.) if there are technical hiccups."

[2020-04-16 13:23] jlost opened #7 "Rich text in queue description"
- links
- new paragraph
- etc

The queue owner may want to specify material for the student to review while waiting, such as lecture materials, an FAQ, etc. This only needs to be space for a link to external content. Recommended by Sean DeMonner and Zhen Qian in T&L.

-- @mfldavidson

[2020-04-16 13:24] jlost opened #8 "Feature: Bigger number to tell you your turn"
I don't know what it looks like when there are people waiting, but I would like the number to be big and up front (like where the green part is for when it's your turn.

-- Eric Boyd

[2020-04-16 13:25] jlost opened #9 "Feature: Zoom Support"
What would it take to integrate Zoom into the application as well?

-- Eric Boyd

This has already been requested by Michael Hess ([mlhess@umich.edu](mailto:mlhess@umich.edu)) and he may be interested in working with us on this. As we get enterprise Zoom up and going this will likely be a request, but for "later"

-- @mfldavidson

[2020-04-16 13:26] jlost opened #10 "Engineering: CI/CD Pipeline"
Build & push to dev would be particularly helpful.
From there we could set it up to push to prod at e.g. 1:00 AM nightly (if there are updates in that branch).

-- @jlost

(From Slack) I’ve never worked with CI/CD in Gitlab. Does this actually work with our Openshift? It seems like to set up a runner you need privileged containers which we don’t have anymore. (Or have container admins set up a spe

[2020-04-16 13:26] jlost opened #11 "Full email doesn't work and doesn't provide a useful message to the user"
Entering "foobar@umich.edu" no longer works for Attendees or Hosts.

-- Eric Boyd

[2020-04-16 13:27] jlost opened #12 "Add IE Support"
At a basic level, that means ES5+polyfills.
At a deeper level, it might make sense to have distinct webpack configs for dev vs. prod because for instance right now I'm including source maps.

[2020-04-16 13:27] jlost opened #13 "Add breadcrumbs to Manage>Queue name to easily navigate back to manage"
From the queue page, it is difficult to navigate back to /manage. Let's add breadcrumbs to the top of the page to help them get back.

-- @mfldavidson

[2020-04-16 13:28] jlost opened #14 "Add time of queue join for each person in line"
"Lost" if you will with the rewrite--I think this isn't terribly difficult and is important to show. Add "Joined queue at " just to the right of the user's name

-- @mfldavidson

[2020-04-16 13:28] jlost opened #15 "Pause polling while window/tab inactive"
This would reduce server load.

[2020-04-16 13:31] jlost opened #16 "Ability to ping a student who isn't in the room that the host is ready for them"
Suggested by an advisor beta tester--need to give host a control to ping someone

-- @mfldavidson

[2020-04-16 13:31] jlost opened #17 "Agenda field"
It may be useful to provide a box to the students to enter a brief message that is only viewable by the teaching staff. We found it useful for students to indicate a brief reason for the office hours or to indicate where they are located.

This was noted as high priority by a beta tester.

[2020-04-16 13:32] jlost opened #18 "Allow owners to open and close queues"
Allow instructors to "open" a queue for queuing or "close" a queue to restrict further queuing. (Like opening a store and closing a store)

Noted as high priority by 3 beta testers

[2020-04-16 13:32] jlost opened #19 "Delete all ROHQ meetings in BlueJeans"
Add a button to /manage "Delete all ROHQ meetings in BlueJeans"

This is a "maybe"

-- @ksofa2

[2020-04-16 13:33] jlost opened #20 "Invitation-only queues"
Add attribute to make queues invitation only

This was noted as high priority by an advisor beta tester

[2020-04-16 13:34] jlost opened #21 "Queue re-ordering"
Allow hosts to change the order of the attendees in their queue

This was noted as high priority by an advisor beta tester

[2020-04-16 13:34] jlost opened #22 "Indicate BlueJean room is in use"
Add an indication in the UI of the BlueJeans participants presence.

Feedback from an advisor in support of this issue:

-- @mfldavidson

[2020-04-16 13:34] jlost commented on #22
I spent some time looking at this recently and I think the best we can do is use the Bluejeans `live_meeting` endpoint to determine whether the meeting is in progress or not. We discussed the performance impact a little bit in slack but I think there would need to be some more discussion there if we decide to go that route.

James also mentioned just tracking when the "Join Meeting" button is clic

[2020-04-16 13:35] jlost opened #23 "Notification on queue join in Edit page"
"I wish that there was a notification sound (that I could turn off if I wanted to) when another person joined the queue."

Noted as high priority by 2 advisor beta testers

[2020-04-16 13:36] jlost opened #24 "Track & Show Meeting Assignees"
Separate out meetings that are in session with a host from meetings that are not yet in session with a host. Show which host "claimed" the meeting. Probably use who clicked Join Meeting? And make sure they know that once they click it it is "theirs"

Noted as high priority by 4 advisor beta testers

[2020-04-16 13:37] jlost opened #25 "Notification for student that it is their turn"
We need a more "disruptive," if you will, way for the student to know that it is their turn. I know we had issues with browser notifications, but if there's any way we could do that or some other type of notification at the point of "there's only 5 people ahead" and then "it's your turn" but only if they aren't in the meeting yet, that would be very helpful.

Noted as high priority by 2 advisor be

[2020-04-20 17:43] psteffes commented on #18
@jlost @mfldavidson @ksofa2 Do we just want something like an `is_open` BooleanField on the queue? Alternatively, if we think the use may expand we could just create a `status` and start with open/closed choices.

[2020-04-20 21:46] mfldavidson commented on #18
That's a good question. I could see us someday needing different statuses and it might be smart to build that in now with a status model. That's not really any more technically difficult or risky, right? I can't think of why it would be.

[2020-04-20 21:46] mfldavidson commented on #18
@teshsopher do you have a design for this functionality?

[2020-04-20 22:23] mfldavidson commented on #4
Based on @ksofa2 comments I am going to close this as a "won't fix" but hopefully we can implement #19

[2020-04-20 22:23] #4 closed

[2020-04-21 02:23] teshsopher commented on #18
I have some preliminary designs that I've just uploaded to the mockups (https://sketch.cloud/s/0W0gb). The first option has a "Settings" page for the queue, which will be better if we add more individual queue settings, like privacy, etc. Option 2 has the "Open/Close" status on the Manage page, which is good if there will only be one or two additional individual queue settings added to the page.

[2020-04-21 13:13] mfldavidson commented on #24
Thought discussed in standup yesterday: probably don't want to use Join Meeting, esp since this means if they call in it's not recorded. Maybe add a separate button for "Assign to Me" or something? Lots of UX stuff to think through here on both the host and attendee side. This is a hefty issue.

[2020-04-21 13:22] mfldavidson commented on #24
@teshsopher

[2020-04-21 14:22] psteffes commented on #18
Nope, I'll go with status then!

[2020-04-21 23:26] mfldavidson opened #29 "Add button to see information on joining the meeting by phone to host side"

[2020-04-26 00:55] mfldavidson opened #31 "Add link to see all international call-in numbers to student view"
https://www.bluejeans.com/numbers

[2020-04-28 16:17] jlost commented on #1
Fixed by #27

[2020-04-28 16:17] #1 closed

[2020-04-28 17:13] jlost commented on #18
As I developed this, I absentmindedly threw together a UI implementation as I had forgotten about @teshsopher's mockups...Sorry about that! My implementation can be seen on dev. The differences are as follows:
1. I included the status field directly on the queue edit page instead of nesting it in a "settings" subpage, because right now it's the only such field.
2. I used a toggle instead of a drop

[2020-04-28 17:38] jlost commented on #16
@mfldavidson By ping, I take it you mean hangouts? I'm going to move this to a later milestone as I think there are similar, easier, higher-impact issues that could be worked on. Let me know if you disagree.

[2020-04-28 18:14] teshsopher commented on #18
1. I agree that, since this is really the only setting that would be in a submenu, it is good to put it directly on the Manage page.
2. I like the toggle, but I need to make sure that it's accessible for screen readers
3. I do think that the alert at the top is fine, since that's where the users are supposed to be looking to see their queue status. However, would it be good remove the alert where

[2020-04-28 18:27] jlost commented on #18
I could see multiple alerts being noisy. Between silencing the "queue closed" alert and silencing the "your turn is coming up," I think it would be better to silence the former. It's very important that the user join the meeting, but a user leaving the queue while expecting to rejoin later is a relative corner case. I could also just remove the "queue closed" alert entirely if that would simplify

[2020-04-28 19:30] jlost commented on #29
@mfldavidson @teshsopher For this, I'm picturing an "Info" button to the meeting list items, like so:
![image](https://user-images.githubusercontent.com/11338926/80529002-d0bcf200-8964-11ea-9ad3-ca6c40604c17.png)
This would pop up a modal that displays dial-in info, and later could be extended to display any other relevant info, depending on the type of meeting it is (BlueJeans, Zoom, etc).

[2020-04-28 22:12] jlost commented on #29
I'm thinking "Time Joined" could also go here.

[2020-04-28 23:16] jlost commented on #29
![image](https://user-images.githubusercontent.com/11338926/80546863-bd218380-8984-11ea-836c-32aaa7ca2a30.png)
Thoughts?

[2020-04-29 00:26] mfldavidson commented on #29
I think this implementation makes sense, good thinking. I worry that people won't know what "More Info" means but I like that it's flexible for future info. @teshsopher what do you think?

Let's also add the international call-in info here

[2020-04-29 00:45] mfldavidson commented on #18
Re: competing alerts, I agree with James that priority goes to encouraging the user to get in the meeting rather than notifying them that if they leave, they can't rejoin. What if, instead of an alert at all, they are just informed that they can't rejoin only if they click to leave the line?

[2020-04-29 00:45] mfldavidson commented on #18
In the pop-up I mean

[2020-04-29 02:16] teshsopher commented on #18
I think where I'm getting a little lost is what the ideal flow for the user is here. If it's that they should still join the meeting, despite the queue being closed, then I think having the two alerts is fine, but the language in the closed queue alert should read something like, "The queue is closed, but you are still in line. Please communicate with the host to ensure the meeting will still happ

[2020-04-29 02:18] teshsopher commented on #18
Though, I do like the idea of having some language in the pop up for being unable to rejoin the line in the pop up if the person clicks to leave the line. I can mock this up and do some user testing to see what language/set up looks better.

[2020-04-29 15:24] teshsopher commented on #29
I've changed the wording too be "Join Info," since that gives more of an indicator of what the information is. I've included it as part of my design for Issue #24, which is here: https://www.sketch.com/s/d3e8e90e-86a6-4d57-ba0e-33e40954eda9

As a note, the design still needs more testing/feedback, but this was the initial design

[2020-04-29 15:26] teshsopher commented on #22
I've mocked up this design here: https://www.sketch.com/s/d3e8e90e-86a6-4d57-ba0e-33e40954eda9

As a note, the designs still need more testing/feedback. @mfldavidson , do you have any current/potential hosts that would be willing to test these with me?

[2020-04-29 15:27] teshsopher commented on #24
I've (hopefully) mocked up this design here: https://www.sketch.com/s/d3e8e90e-86a6-4d57-ba0e-33e40954eda9

Let me know if I'm misunderstanding this issue

[2020-04-29 16:44] jlost commented on #24
I like it. I think a Select2-ish control would work for "Assign to Host":
![image](https://user-images.githubusercontent.com/11338926/80622598-028e9100-8a17-11ea-9ef6-0c49ae774845.png)

[2020-04-29 16:46] jlost commented on #24
If the most common use case is to assign to yourself, I could move always move the current user to the top of the select.

[2020-04-29 17:41] teshsopher commented on #24
Yeah, I anticipate that assigning to yourself would be the most common use case, so having the current user at the top would be good.

[2020-04-29 19:28] mfldavidson commented on #22
Absolutely! I should probably just ask people formally if they are willing to be beta testers and make an email group so you can contact them. I'll go ahead and ask a few folks if they'd be ok with me doing that and get back to you ASAP!

[2020-04-29 21:26] jlost commented on #31
Addressed by #33

[2020-04-30 01:04] mfldavidson commented on #16
I actually mean send some sort of notification to the attendee to join the meeting, so that attendees who aren't in the meeting when the host joins can be reminded to do so. Is that a noise? A browser notification? (previously discussed this is difficult, so I acknowledge that) Something else?

I think if we can do #22 in this milestone, I'm ok with moving this to 1.2, but it is high priority gene

[2020-04-30 01:06] mfldavidson commented on #18
What if, when a host closes the queue that still has people in it, we make them select whether to delete all the meetings in the queue, or send a notice to the user that the queue is closed but their meeting will still happen?

[2020-04-30 12:02] jlost commented on #29
I made my implementation similar to your mockup and moved it into dev. Let me know what you think.

[2020-04-30 12:42] teshsopher commented on #18
I like that idea!
The alert for users would have to be based on what the host chose to do. So the alert for users when they are removed from queue should read, "The host has closed the queue, and you have been removed from the line. You may rejoin the queue when the host re-opens it." And the alert for when users are still in line should be similar to what I had said before, but more like, "The qu

[2020-04-30 17:15] jlost commented on #18
I like that from a UX perspective, but from a technical POV it would add a lot of complexity. The front-end would need to know that the user recently left a given queue, and how/why (queue closed). This kind of reactivity might be easier if we changed from an API polling architecture to a realtime websockets one (a state change message is "pushed" to the client along with a reason). My inclination

[2020-04-30 17:36] jlost commented on #14
#32

[2020-04-30 18:07] teshsopher commented on #18
Yeah, if that poses too much technical complexity, then I think sticking with the original alert, but using the changed language ("The queue has been closed, but you're still in line. Please contact..." etc) with the pop up is still a good option.

[2020-04-30 19:56] teshsopher commented on #29
I think the "Action" section looks great! When the queue is empty, is it possible to add text to say, "No meetings in queue."? It's not a major problem if not, but it helps users understand what they're seeing when they see an empty queue.

As an FYI: I may have some accessibility feedback later. The Accessibility team is currently swamped, so I'll review what I can myself for now until I can get

[2020-04-30 21:05] ksofa2 commented on #16
We also talked in one of the stand-ups about text messages for notifications.

I don't know what the workflow is like for a user via a service like Twilio. Do they need to approve getting messages somehow? Or can the user just enter their phone number into our interface?

Also don't know what the costs are like.

But if that's reasonable, a nice thing about a text message is you can wander away fr

[2020-04-30 22:40] jlost commented on #16
I seem to recall the base price is pretty cheap (not sure how it scales), and it will just send SMS's with no approval needed. So whenever a meeting is added or removed from the queue, we check to see which meetings meet the criteria for a message being sent (which is: place_in_line within certain range && the same message hasn't been sent for this person & queue in the last 24 hours) and send the

[2020-04-30 22:41] jlost commented on #16
Of course we need their phone number, but we can save that in the `Profile` model.

[2020-05-01 00:52] mfldavidson commented on #29
This is coming together so nice!!! Great work you two :D

Some thoughts/questions:
1. Should the international numbers link open in a new tab? I know we have to be conservative about using target=_blank, but I feel like it might be needed here. Navigating to a new page interrupts the process of working their queue, and also they still need to go back and get the meeting number to enter once they c

[2020-05-01 00:56] mfldavidson commented on #31
I don't see this in student view in dev?
![image](https://user-images.githubusercontent.com/31591389/80772501-001a5d00-8b25-11ea-919c-126cea4cf8ac.png)

[2020-05-01 00:57] mfldavidson commented on #29
Last one: Could we change the header of the popup to say "Meeting and Join Info" or just "Join Info" to match closer to what they expect when they click "Join Info"?

[2020-05-01 01:08] mfldavidson commented on #16
Maybe in 1.2 we can go heavy on the notifications piece and really dig into this. My personal opinion is SMS is the way to go, and when users create a queue as a host or join a line as an attendee and haven't already given us their phone number to opt in, we suggest that they do it

[2020-05-01 12:52] jlost commented on #16
Something to note before I forget it: The existence of notifications may somewhat complicate queue reordering, as all of the changed positions will have to be sent to the server at once to avoid sending a bunch of incorrect notifications as hosts fiddle with it.

[2020-05-01 12:53] jlost commented on #14
@teshsopher @mfldavidson
![image](https://user-images.githubusercontent.com/11338926/80806648-40132b80-8b89-11ea-9154-74798f4bb388.png)
Thoughts?

[2020-05-01 13:48] teshsopher commented on #14
I think this looks good, and it makes sense to have that in the "Join Info" popup on the host side, but it may be easier to skim if it is labelled "Time Joined" or "Joined Queue"

[2020-05-01 20:26] mfldavidson commented on #14
Looks great @jlost !!! I think @teshsopher's suggestion makes sense too

[2020-05-04 13:09] jlost commented on #13
@mfldavidson @teshsopher I added this to all pages. You can see it in dev.

[2020-05-04 13:12] jlost commented on #3
The potential solutions to this -- such as creating BlueJeans meetings "just in time" -- are very complicated and depend on completing other features first, so I'm going to move it forward in our milestones.

[2020-05-04 13:13] mfldavidson commented on #13
This implementation looks great and makes sense to me. Would def like to hear what @teshsopher has to say to be sure. It does look a little odd to have the two gray boxes on the homepage but it's not a big deal. We could potentially get rid of the gray box around Remote Office Hours Queue and just have a white background.

[2020-05-04 13:20] jlost commented on #13
![image](https://user-images.githubusercontent.com/11338926/80969986-7bf7fc00-8de8-11ea-9d4b-49e44b903e7b.png)
This is what that would look like...

[2020-05-04 13:28] mfldavidson commented on #13
Decision: "Home" will change to a home icon and say "Remote Office Hours Queue" like on the ITS website
![image](https://user-images.githubusercontent.com/31591389/80970672-88c91f80-8de9-11ea-99da-dc2e9893bbed.png)

Decision: go to white background on homepage behind "Remote Office Hours Queue" (i.e. no gray box to avoid confusion with the gray box for the breadcrumbs)

[2020-05-04 13:35] mfldavidson commented on #3
I was just thinking the same thing, that's cool

[2020-05-04 14:14] jlost commented on #13
Made these changes

[2020-05-04 15:00] mfldavidson commented on #13
Awesome! I tested it out and it looks great! @teshsopher if you test as well and approve, go ahead and move to "Done" and close it

[2020-05-04 15:01] mfldavidson opened #36 "Remove "Virtual Office Hours" header from /manage"

[2020-05-04 15:38] teshsopher commented on #13
There isn't enough color contrast between the text and the background of the breadcrumbs. Either the text should be darker or the background color should be lighter, but I don't have a strong preference either way

[2020-05-04 16:56] jlost commented on #18
Queue is closed:
![image](https://user-images.githubusercontent.com/11338926/80991570-39ddb300-8e06-11ea-8593-b098cb77ac87.png)

When you click "Leave the line":
![image](https://user-images.githubusercontent.com/11338926/80991489-229ec580-8e06-11ea-8b17-71793b8e39e6.png)

No longer in queue:
![image](https://user-images.githubusercontent.com/11338926/80991884-b375a100-8e06-11ea-90e6-89e8388b80b8.

[2020-05-04 16:58] jlost commented on #18
#37

[2020-05-04 17:46] jlost commented on #13
Switched to black:
![image](https://user-images.githubusercontent.com/11338926/80996295-8e386100-8e0d-11ea-848e-d9c63b114bc7.png)

[2020-05-04 17:53] mfldavidson commented on #13
I've tried to break it every way I know how and it won't break :) I'd call this tested and good to go!

[2020-05-04 17:53] #13 closed

[2020-05-04 20:17] jlost commented on #29
I moved all of the above changes into dev.

[2020-05-04 20:18] jlost commented on #31
I had missed this, but now it's in dev.

[2020-05-04 20:18] jlost commented on #31
#38

[2020-05-04 20:25] mfldavidson commented on #31
Awesome, thank you! It looks great to me, just tested it. If @teshsopher has no other changes to request, Teshia you can close and move to Done

[2020-05-04 20:31] teshsopher commented on #31
Looks good to me!

[2020-05-04 20:41] mfldavidson commented on #18
I just tested this and did not get the pop-up when I left the line, I was just removed with no popup at all @jlost

[2020-05-04 20:48] jlost commented on #18
I didn't deploy these to dev, but I can. Just a sec.

[2020-05-04 20:48] jlost commented on #18
By the way, do we want hosts to be able to add attendees even if the queue is closed?

[2020-05-04 20:49] mfldavidson commented on #18
Hmmm that's a great question. How hard would it be to allow hosts to add but not allow attendees to join? I like that idea...

[2020-05-04 21:02] jlost commented on #18
Pretty easy, I just did it and then deployed.

[2020-05-04 21:10] jlost commented on #18
Looks like the confirmation broke though... stand by.

[2020-05-04 21:26] jlost commented on #18
Fixed it - I made a mistake while merging in the work from dev.

[2020-05-05 12:59] jlost commented on #14
Changed it:

[2020-05-05 13:10] jlost commented on #14
I didn't deploy this because other changes are being looked at, but let me know if you want me to.

[2020-05-05 13:12] jlost opened #39 "Use ASGI Server"
Switch from gunicorn to an ASGI server so we can utilize Django 3's async views.

[2020-05-05 13:13] jlost commented on #22
Blocked by #39

[2020-05-06 16:57] teshsopher commented on #14
This is kind of a picky thing, but is it possible to modify the time to display as "Mon, May 04, 2020, 5:08:16 PM". This just makes it a little more readable in my opinion, but it's not a major problem if it can't be done.

[2020-05-06 17:46] jlost commented on #36
![image](https://user-images.githubusercontent.com/11338926/81210534-0040af80-8fa0-11ea-8e75-399ec9efad5d.png)
Is this what you had in mind?

[2020-05-06 17:48] mfldavidson commented on #36
Yes 👍 @teshsopher this ok in your book UX wise? Trying to avoid the confusion with "Virtual" vs "Remote"

[2020-05-06 17:55] teshsopher commented on #36
It would be better to move the description text under "My Meeting Queues," if possible

[2020-05-06 19:08] jlost opened #41 "Meetings Deleted in BlueJeans cause 500 Upon Removal"
Meetings that have been deleted in BlueJeans will cause a 500 error when removed from Office Hours.

Repro steps:
1. Create a queue and add an attendee with BlueJeans backend enabled (creates a Meeting)
2. Delete the created meeting from BlueJeans
3. Delete the meeting from Office Hours manage page

Stack trace:
[code]

[2020-05-06 22:24] jlost opened #42 "Viewing Edit Page as Superuser/Non-Host Causes Error"
Repro steps:
1. Log in as superuser
2. Visit the edit page of a queue which you are not a host of
3. The page will not render, and the browser console will show errors.

The error happens because `meeting_set` is not included in the response. But if the user is a superuser, it should be included even if they're not a host.

[2020-05-08 13:32] jlost commented on #36
I also changed the `h2` to h1`.
![image](https://user-images.githubusercontent.com/11338926/81410447-bc1fed00-910e-11ea-8d8c-22c954f1e4c5.png)

[2020-05-08 13:38] jlost commented on #41
@mfldavidson @teshsopher
Is the best fix here to remove the ROHQ Meeting if the BlueJeans Meeting is deleted?

@teshsopher made the following comment:

Has this actually happened? Is it likely enough to happen that we should design for it? The alternative to deleting the ROHQ Meeting if the BJ Meeting is deleted would be to create a new BJ Meeting and update the ROHQ Meeting with it when that stat

[2020-05-09 14:06] jlost commented on #41
I think swallowing the 404 error from the BJ Meeting already being deleted and proceeding with the deletion of the ROHQ meeting is a foolproof fix for this particular case, so that's what I'll do. For now I'll gloss over the possibility that a user may try to e.g. join an already-deleted BJ Meeting, because the fix for that would be much more invasive anyway.

[2020-05-11 16:24] jlost commented on #39
#40

[2020-05-12 13:40] jlost commented on #17
This will involve:
* Adding an Agenda text field to the Meeting model
* Adding (or ensuring already exists) the ability for an Attendee of a Meeting to change the Agenda of the Meeting through the REST API (non-Attendees shouldn't be able to change it)
* Adding an "Agenda" Single-Form Input to the Queue page which is only visible after the Attendee has joined the Queue, which sends to the above RE

[2020-05-14 14:36] jlost commented on #41
Resolved by NOT deleting BJ meetings, as old meetings remove themselves from the BJ dashboard anyway.

[2020-05-14 15:02] jlost commented on #14
Normalized date formatting throughout the app:

![image](https://user-images.githubusercontent.com/11338926/81950709-50d49000-95d2-11ea-967d-4b3e04aba551.png)

[2020-05-15 16:57] jlost opened #48 "Message of the Day"
Currently there is a banner whose message changes depending on whether or not DEBUG is enabled:

![image](https://user-images.githubusercontent.com/11338926/82076288-9e70fb80-96ab-11ea-8c33-a350d58beca4.png)

Use [Django Flatpages](https://docs.djangoproject.com/en/3.0/ref/contrib/flatpages/) to make this content editable via the Admin panel. The idea is that different environments could configure

[2020-05-15 19:13] bruinc commented on #17
@teshsopher Hi Teshia, below are some screenshots of how the agenda field looks, any input you have would be highly appreciated!

When an attendee joins a queue, there is a new field prompting them to enter something for the agenda, but it's not required:
![field](https://user-images.githubusercontent.com/23128544/82087469-2bbd4b80-96be-11ea-9548-bde604a61efb.png)

After entering an agenda, it's s

[2020-05-15 19:41] teshsopher commented on #17
For the attendee/visitor view:
It may be better to keep the width within one column, since there are two columns of content on this page. Also, the label of the field could say "Meeting Agenda (Optional)," to let users know right away that it's optional. Ideally, there would also be some help text underneath the label to say something like "Let the host(s) know the topic you wish to discuss," whic

[2020-05-15 20:09] bruinc commented on #17
Here it is with those changes:
![feedback](https://user-images.githubusercontent.com/23128544/82091619-ae95d480-96c5-11ea-8085-74188e1570d5.png)

The character field required a maximum length, so I had made the arbitrary choice of a 100 character limit for the agenda field, but that can be changed to any other number.

[2020-05-18 14:22] teshsopher commented on #18
So, I haven't gotten the official accessibility review; however, I took a look at this feature myself, and it's not entirely accessible for screen readers the way it's set up now. Right now, these users are hearing "Status, checked, checkbox" which isn't telling them 1. what this is for, and 2. what checked means. An easy way to make this accessible is to change the label. I suggest changing "Stat

[2020-05-18 14:24] teshsopher commented on #14
The screenshot looks good to me! I'm not seeing it in dev, however.

[2020-05-18 18:46] jlost commented on #8
Hey @teshsopher, a mockup would be helpful for this. Or just your thoughts on the subject to get us started.

[2020-05-18 19:09] teshsopher commented on #8
I have an [initial mockup](https://www.sketch.com/s/19df30a7-8d6c-4a17-9f30-5cbca9f63ec5/v/pYJ9vJ/) of a redesigned "Join Queue" experience based on some of the user feedback I've gotten, which includes emphasizing the attendee's place in line. These are just some of my initial thoughts/solutions, so I'm open to any changes/feedback that others may have!

[2020-05-19 13:37] jlost commented on #6
@mfldavidson @teshsopher Would there be any problems with getting these values straight from MCommunity (via OIDC) and displaying them on the "Join Info" modal?

[2020-05-19 13:40] #42 closed

[2020-05-19 13:41] #41 closed

[2020-05-19 13:42] jlost commented on #36
I assume this is all good - closing out.

[2020-05-19 13:57] teshsopher commented on #6
I think that one problem with using MCommunity info would be that, in order for attendees to update their contact information, we would have to point them outside of ROHQ. Additionally, they may have a preferred contact method that isn't listed in MCommunity.

Though, if it was reasonable, we could have a personal settings page where the student/attendee could store that information and then we co

[2020-05-19 14:17] #39 closed

[2020-05-19 14:18] jlost commented on #48
Closed by #49

[2020-05-19 14:18] #48 closed

[2020-05-19 14:55] bruinc commented on #6
We could also try pulling some default information from MCommunity and allowing the attendees to override their preferred contact info if it's not what they want.

[2020-05-19 15:15] jlost opened #52 "Move Navbar into SPA"
It would be advantageous to have the navbar in the SPA rather than as part of `base.html`, so that we can handle routing from it within React and have the ability to put more UI complexity there if we want to. The navbar should be rendered once in `app.tsx`.

There might be a bit of complexity around including the User Comm Banner from flatpages, but it could be surmounted by rendering it in a hid

[2020-05-20 14:33] jlost commented on #14
@teshsopher This is in dev now.

[2020-05-20 15:17] mfldavidson commented on #48
I don't see this has been QA tested yet, hence moving back to QA

[2020-05-20 15:18] mfldavidson commented on #39
Since this is not a user-facing change should I assume you have tested this @jlost since you moved to Done?

[2020-05-20 15:24] mfldavidson opened #53 "Increase contrast for Login button on homepage"
Given we have removed the container on the homepage to support #35 the Login button that a user sees on the homepage content area now needs to have more contrast between the button and the background.

@teshsopher feel free to comment with any particular input on how to implement this

![image](https://user-images.githubusercontent.com/31591389/82464819-8246d300-9a8c-11ea-8b5b-dfcefae45ddf.png)

[2020-05-20 15:25] teshsopher commented on #14
Looks good! Thank you!

[2020-05-20 15:36] teshsopher commented on #53
There isn't necessarily a specific color that it should be, though a blue would fit the general style of U-M and the app (though other colors have been used before!). However, the contrast ratio for the button and the background (but also the text and the button) should be 4.5:1 at minimum. In an ideal scenario, the contrast should be 7:1.

[2020-05-20 16:02] jlost commented on #39
Yes, it's working and in dev.

[2020-05-20 19:21] bruinc commented on #8
Following Teshia's mockup of the Join Queue page, here is a screenshot of what I have so far (working in the branch called attendee-turn-number):
![1](https://user-images.githubusercontent.com/23128544/82486126-6ce0a180-9aaa-11ea-8307-c365d0a014d7.png)

The card to right with more BlueJeans info doesn't show up when I run it locally because that container is only defined when the BlueJeans data is

[2020-05-20 19:27] jlost commented on #24
@teshsopher In dev & ready to be reviewed.

[2020-05-20 19:32] jlost opened #54 "Return & handle 502 from BlueJeans 500s"
If BlueJeans returns a 500-level error, return a 502 (Bad Gateway) to the front-end. In the front-end, display a message clarifying that something went wrong in BlueJeans.

[2020-05-20 19:33] jlost opened #55 "Handle BlueJeans User 404"
If the BlueJeans /user endpoint returns a 404, a message should appear in the client telling the user they must log into BlueJeans before using Office Hours.

[2020-05-20 20:00] bruinc commented on #53
Thoughts on these?

![btn-primary](https://user-images.githubusercontent.com/23128544/82491688-fa27f400-9ab2-11ea-9f3a-532a09ce0e7e.png)

![dark blue back](https://user-images.githubusercontent.com/23128544/82491702-fdbb7b00-9ab2-11ea-9d78-a7e8a3cdbe4a.png)

[2020-05-20 20:30] mfldavidson commented on #53
I defer to @teshsopher as the expert but I think the first one, slightly lighter, makes sense, and matches the color of the "Search Queues" button that shows up in the same space once the user is logged in

[2020-05-20 20:31] mfldavidson commented on #53
Either seem to have the right contrast though

[2020-05-21 14:22] teshsopher commented on #53
The first one works for me as well!

[2020-05-21 14:25] teshsopher commented on #24
It looks good and works for me!

[2020-05-21 14:28] #24 closed

[2020-05-21 14:29] #14 closed

[2020-05-21 14:54] jlost commented on #48
Feel free to test it - I moved it forward because the changes are effectively non-user-facing, as the markup you put in the "User Comm Banner" flatpage can be the same as the current markup in prod.

[2020-05-22 14:36] jlost commented on #55
![image](https://user-images.githubusercontent.com/11338926/82678281-560b8d80-9c17-11ea-9ee0-20e0675face4.png)
@teshsopher Thoughts on the message? Because of the way errors are propagated from the server to the client, it would take a fair amount of extra work to include anything other than plaintext there (such as a link to umich.bluejeans.com). We could revisit this next cycle and explore more

[2020-05-22 14:59] jlost commented on #54
@teshsopher @mfldavidson  Added the following message, mainly to help quickly identify the source of the problem when BlueJeans outages occur:
![image](https://user-images.githubusercontent.com/11338926/82681060-324a4680-9c1b-11ea-9342-e9076248a66c.png)

[2020-05-22 16:50] teshsopher commented on #55
For this solution, it may be better to say "There is no BlueJeans account associated with [user email]. Please log into umich.bluejeans.com, then try again." That way, users know what the error means, as well as what to do about it. (Though, if I'm misunderstanding what the error means, please correct me!)

[2020-05-22 16:52] teshsopher commented on #54
Does this happen with a specific error? Also, is there a specific action the user can take to fix what went wrong themselves? The error is kind of vague (which it may need to be), but having some text to let the user know what steps to take next would be helpful

[2020-05-28 15:20] jlost commented on #54
It happens for any error coming from BlueJeans, which could be a number of things on their end, which we have no visibility into. The only thing they could do is contact 4help and/or try again later.

[2020-05-28 15:39] bruinc opened #58 "Confirm Zoom account and app integration"
As part of the setup flow, we should check if a host has a Zoom account and has enabled the ROHQ app. If not, instruct them to do that and do not let them continue until they have.

[2020-05-28 15:44] jlost commented on #55
Changed it to exactly that:

![image](https://user-images.githubusercontent.com/11338926/83163077-97e57980-a0d8-11ea-83b4-0f040500b8a6.png)

[2020-05-28 18:37] #53 closed

[2020-05-28 20:47] jlost commented on #18
@teshsopher @mfldavidson I changed it to a plain select instead of a toggle, because I was also seeing weird screen reader behavior I couldn't easily resolve. NVDA seems to be reading it coherently. It now matches your original mockup.

[2020-05-29 16:15] mfldavidson commented on #55
I tested this with my sponsored account zoomz.
1. created queue https://dev.officehours.it.umich.edu/manage/63 -- everything fine, no error
2. added someone to the queue manually and got the error
![image](https://user-images.githubusercontent.com/31591389/83281315-e4e35180-a1a5-11ea-9afb-8c6d356ad3f2.png)
3. joined someone else's queue https://dev.officehours.it.umich.edu/queue/47/ successfully

[2020-05-29 16:15] #55 closed

[2020-05-29 16:15] #18 closed

[2020-05-29 16:42] mfldavidson commented on #31
@jlost @bruinc this is no longer in dev...???

[2020-05-29 16:44] mfldavidson commented on #29
@jlost the changes I requested on this were never made

[2020-05-29 16:44] mfldavidson commented on #29
@teshsopher can you weigh in on the changes I requested in comment above?

[2020-05-29 16:50] mfldavidson commented on #36
This also has fallen out of dev... @jlost @bruinc

[2020-05-29 16:55] mfldavidson commented on #54
I would suggest adding the following text after the current message, would like @teshsopher input:

[2020-05-29 17:09] teshsopher commented on #54
I think that sounds good to me

[2020-05-29 17:12] mfldavidson commented on #48
So I did some testing, and I learned the following:
1. the Advanced Option of "Registration Required" causes the banner to not be visible to anyone--maybe not properly hooked up to the auth?
2. The "Sites" box is not set up--it just says "example.com" but doesn't seem to impact anything
I don't think these are blockers to releasing but...just worth a note

[2020-05-29 17:13] mfldavidson commented on #18
That makes sense to me

[2020-05-29 18:46] jlost commented on #31
I had committed this work to an already-merged branch and then forgot to re-merge it. I created a new branch and PR with the same work, #60, and merged it. It's also in dev.

[2020-05-29 18:46] #31 closed

[2020-05-29 18:53] jlost commented on #29
^Resolved by #60

[2020-05-29 18:53] #29 closed

[2020-05-29 19:35] jlost commented on #36
Resolved by #61

[2020-05-29 19:35] #36 closed

[2020-05-29 19:39] jlost commented on #54
For now I can only put plain text in the error alerts. We can enrich them in the next release. For now, I'll have to do:

[2020-05-29 19:53] jlost commented on #54
This one is tricky to test in dev. This is what it looks like when I force it locally:
![image](https://user-images.githubusercontent.com/11338926/83299600-7eb9f700-a1c4-11ea-9cdd-24b1cff395fe.png)

[2020-05-29 19:57] jlost commented on #54
The capitalization (Bluejeans vs. BlueJeans) is a little off, because I wanted the message to be generic for different backends (Zoom) and the backend names are lower-cased. The "best fix" would be to attach a "display name" property to backends, but that work is better saved for the next release I think.

[2020-05-29 20:09] teshsopher commented on #54
The message is a little long (since we can only use plain text), but I think it works well enough for this release. I'll think about if there is a better way to word this in the meantime

[2020-05-29 20:16] jlost commented on #54
I see I also missed a space after the first period, so I fixed that.

[2020-05-31 22:10] mfldavidson opened #67 "Support Multiple Errors in ErrorDisplay Component"
If an error is already showing on /manage/<queueid> and another error is triggered, the second error SOMETIMES never shows--it only shows the original error.

It almost seems like some sort of hierarchy of errors, as follows:
1. "user is not a valid user" error takes precedence. If no "user is not a valid user" error, continue
2. "user is already in a meeting" error--if none, continue
etc

#### Th

[2020-05-31 22:14] mfldavidson opened #68 "/manage/<queueid> errors are not apparent enough"
As we add things to the /manage/<queueid> page, it becomes harder and harder to notice errors appearing at the top of the page when the user is working at the bottom of the page, adding attendees or hosts. We may want to explore moving the place that errors appear or putting different types of errors in different places. Another possible solution is that if an error is triggered, the user is scrol

[2020-05-31 22:16] mfldavidson opened #69 "Limit on characters in description field"
I mean...

![image](https://user-images.githubusercontent.com/31591389/83363851-bc588480-a36a-11ea-86fa-43ef7cc49f7b.png)
![image](https://user-images.githubusercontent.com/31591389/83363858-c7abb000-a36a-11ea-8a56-84355e587477.png)

[2020-05-31 22:17] mfldavidson commented on #58
Great idea, I completely agree!!! 👏

[2020-06-01 12:36] teshsopher commented on #68
Where possible, the errors should appear where it's relevant. So, for the example: if you're adding an attendee and they haven't logged into ROHQ, the error should appear around the "Add attendee" field. For one line error messages, this can be in line, but for multi-line messages, this should be above the field, and the field should also be outlined in red to indicate where the error happened. Fo

[2020-06-01 14:19] jonespm commented on #69
Yes, there should be some limits, otherwise you risk a potential security issue. Since we aren't allowing for rich text here right now. I don't know what the most appropriate limit here would be.

[2020-06-01 14:22] jonespm opened #70 "Support more private queues"
I'm not sure if it's come up but it seems like having private queues that don't come up in the search and are more difficult to discover might be preferred. It seems like the queues are autonumbered and all in the search now which makes discovering any queues relatively easy. I could see a someone wanting a queue that wasn't searchable and maybe had a less guessable ID (like a GUID). Maybe this is

[2020-06-01 14:26] jonespm opened #71 "More useful information in queue results list"
In both the manage queue page and in the search page when you search for a queue many may come back with the same or similar names since no naming restrictions are in place. The only details in the list are the name.

I'd think for the search results some additional details like possibly created date, host and possibly the number of people in the queued could be presented
![image](https://user-ima

[2020-06-01 15:15] mfldavidson commented on #70
I think this is a duplicate of #20 ?

[2020-06-01 15:22] jonespm commented on #70
Yeah sounds similar to that one, I think this one has a little more details on how this might be implemented. I didn't see that when looking through the list.

[2020-06-01 15:57] #54 closed

[2020-06-01 19:27] bruinc commented on #6
Update! I've set up a new page for user preferences. The link to this page is currently at the bottom of the home page (red arrow), but James mentioned to me that it will be more suitable in the nav bar (green arrow), so I will be making that change soon.
![home_link](https://user-images.githubusercontent.com/23128544/83445711-77405b00-a41b-11ea-804c-daedc6b512b4.png)

For the preferences page, I

[2020-06-02 17:44] jlost commented on #69
Agree -the largest description in prod currently is 846 characters. So a maximum of 1000, 1500, or 2000 at most would work.

[2020-06-02 18:25] mfldavidson commented on #69
I think 1000 is good. Here is an example of 1000 characters in a queue description https://officehours.it.umich.edu/queue/292

[2020-06-04 12:41] jlost commented on #6
I think this looks fantastic so far! I have no problem with leaving the link where you put it if @teshsopher thinks that's a better spot. If you push your work and open a PR, I'll look it over when I have the chance.

[2020-06-04 12:47] jlost commented on #67
I think the most straightforward fix for this is to allow the error dialog to show multiple errors instead of coalescing to the "highest-priority" one. There is also a larger error story to work out with respect to making them more visible if you've scrolled down the page a bit, but let's solve this in the simple and obvious way for now since moving the errors into the proximity of their calling c

[2020-06-04 12:56] jlost commented on #8
Looks good, but the styling could use a bit of polish. It looks like there should be more of a margin underneath the new border, maybe less padding or less line-spacing(?), and the background color should be slightly different to draw your eye. I see bootstrap has a `highlight` class, maybe that would work?

[2020-06-04 13:13] teshsopher commented on #6
I think this looks great! Having user preferences as its own page also sets it up for us to let users manage their notification preferences too!

If possible, I think I would place the link to the preferences (as "Manage Preferences") in the user's menu, where the red arrow is below:
<img width="1369" alt="Screen Shot 2020-06-04 at 8 56 58 AM" src="https://user-images.githubusercontent.com/6342338

[2020-06-04 13:19] jlost commented on #6
The international number selector would come for free if we used this package:
https://www.npmjs.com/package/react-phone-input-2

[2020-06-04 13:28] jlost commented on #17
Looks great, I merged it in. If we have any more tweaks to make to this, let's open them up as separate issues.

[2020-06-04 13:28] #17 closed

[2020-06-04 16:04] mfldavidson commented on #6
Nice work @bruinc ! A few thoughts from my perspective:
1. I agree with Teshia's suggestion to put the page in the user dropdown. Maybe we want to add the Manage page there too, honestly.
2. I do think we need an international number option like the package James suggested.
3. Can we change "in which" to "by which" in the text content for the page?

[2020-06-04 20:43] bruinc commented on #6
I moved the link to the Preferences page to the dropdown (I can move the Manage link here too if we want to make the call, as per Maggie's suggestion):
![dropdown](https://user-images.githubusercontent.com/23128544/83807711-83c5ed00-a681-11ea-96c7-82186757ce21.png)

I also got the phone number module that James found to work:
![preferences_page](https://user-images.githubusercontent.com/23128544/8

[2020-06-05 12:15] teshsopher commented on #6
I'll do some quick user testing to see where users would think to put the Preferences and Manage pages (or at least see if our suggestions make sense to them), and I'll get back to you!

[2020-06-05 17:58] teshsopher commented on #69
I was just reviewing some of the open issues, and saw this one! I just wanted to give my two cents: I'm sure you've thought about it, but make sure you let users know, in some way, that there is a limit and let them know when they've reached it. Common practice is to have some text at the bottom right of the text box which indicates how many characters are left (and it auto-updates when users ente

[2020-06-08 14:28] mfldavidson opened #77 "Set meeting type options at the queue level"
As a queue host, I need to be able to specify the types of meetings that my queue will allow, so that my attendees can choose from BlueJeans, Zoom, and/or in-person meeting options, based on what I allow.

@teshsopher can you create a wireframe of what this could look like?

[2020-06-08 14:31] mfldavidson commented on #71
We can definitely do created date and ID. Those are not as helpful as host but because you can have multiple hosts that brings in a new level of complexity...

[2020-06-08 14:31] mfldavidson commented on #71
I'm adding this to 1.2 but for now let's not approach host

[2020-06-08 14:33] mfldavidson commented on #70
I'm going to fold #20 into this one.

Note from #20: This was noted as high priority by an advisor beta tester

[2020-06-08 14:33] mfldavidson commented on #20
Closing in favor of #70 which has more info

[2020-06-08 14:33] #20 closed

[2020-06-08 18:20] teshsopher commented on #77
[The wireframes](https://www.sketch.com/s/88bccdc1-3ae0-4311-99a2-3dec82df2592/v/kKWM59/) are ready! I've included some quality of life changes for users in these wireframes since we've added more (and will continue to add more) features.

These changes include:
- Moved "Manage Queues" to the header/global nav (implied: Preferences under user dropdown in the header)
- Created a separate page/form-

[2020-06-08 18:42] mfldavidson commented on #77
This makes sense to me! We want to make sure it's easy for them to find, and right now it is not.

I think this is very necessary. I see a lot of people creating queues with...weird names...that make me think that the queue creation flow right now is confusing. For example, lots have their uniqname as the queue name. One note about this--I think it might be clearer to literally SHOW that they have

[2020-06-08 18:54] mfldavidson opened #78 "Explore using three-legged OAuth for BlueJeans integration"
This does not necessarily need to be implemented in 1.2, but we'd like to take a look at it in 1.2 to see how feasible it is to prepare to do the same with Zoom in 1.3

[2020-06-09 19:00] bruinc commented on #8
Update: I made the changes you mentioned @jlost, let me know if you had a different color in mind for the background of the card.
![v2](https://user-images.githubusercontent.com/23128544/84188447-9b2a1f00-aa61-11ea-9bfd-2354442b171c.png)

I also went back and looked at the mockup that @teshsopher made, and I noticed that she had next to the turn number a note that said when it was last updated in

[2020-06-09 19:08] jlost commented on #8
That looks perfect to me. As for the "last updated", does that mean last time their place in line changed, or the last time the client polled the server for their place in line? If the former, at least as a developer, I would consider "last changed" to be slightly clearer verbiage.

[2020-06-09 19:18] teshsopher commented on #8
I intended the "Last Updated" to let users know when their place in line was last checked, so users are more aware of when this information has been updated. It may be better to say "Last Checked" instead, since the the user's place won't necessarily change every time it's polled.

As far as the duration of time, I used seconds since, right now, the refresh icon appears fairly often, but I'm open

[2020-06-09 22:30] jlost commented on #8
Got it -- I have a half-finished PR open that will make the `/queue/id` and `/manage/id` pages realtime, removing the problem entirely, so we should just wait until that's ready to merge in.

[2020-06-10 13:27] mfldavidson opened #80 "Use Django channels instead of polling at 3 second intervals"
To reduce server load and allow application to scale

[2020-06-10 16:06] jlost opened #81 "/queue/id & /manage/id polling continues if 404"
Polling continues if a queue is deleted and someone has a tab left open. This generates a 404 error every 3 seconds, creating a lot of log noise.

[2020-06-11 17:31] mfldavidson opened #83 "Change international number link"
On both the host side and attendee side we link to https://www.bluejeans.com/numbers

Change to https://www.bluejeans.com/premium-numbers per John Simpkins 6/11/2020

[2020-06-12 16:43] mfldavidson opened #84 "Show queue hosts"
There have been a few situations brought up where it might be helpful to show who the queue hosts are. For example, #71 and the fact that when the queue is closed, it says to contact the queue owner to find out when it will be open, but we don't give them a way to find out the queue owner, we just assume they know. This is a sticky idea to approach since queues have no limit on the number of hosts

[2020-06-16 19:23] bruinc commented on #67
Under what conditions would we remove an error banner? If we just add a banner for every error, then the list could get really long with the same errors (e.g. a host tries to set the queue name to be blank or >100 chars multiple times).

[2020-06-18 19:00] mfldavidson opened #88 "Configurable email subject prefix for error emails"
So we can tell apart emails from dev and prod easier. Ref https://github.com/tl-its-umich-edu/student_explorer/pull/193 and https://github.com/tl-its-umich-edu/student_explorer/blob/2d5445a7b5ec0f7da8e634d7676c67a464ca4404/student_explorer/settings.py#L163 for how implemented in Student Explorer (we set it to "PROD Student Explorer", "TEST Student Explorer" etc)

[2020-06-19 15:21] jlost opened #90 "Fix Modified Migration (0013)"
I overlooked a bug when reviewing #47 - it looks like when the "agenda" migrations were squashed, they were squashed one level too deep, which merged them into `0013_add_queue_status.py`. Migrations that have been released (queue status was released in v1.1) shouldn't be modified, because it puts databases that have already applied the modified migrations out of sync with the migration state in a

[2020-06-22 21:50] bruinc commented on #69
I implemented the functionality of displaying the remaining character count for the queue description that updates as the user types. Right now it's just in a paragraph element. @teshsopher Any styling advice?
![image](https://user-images.githubusercontent.com/23128544/85338429-48645480-b4b0-11ea-8570-9a4fc80138e5.png)
As a note: as soon as I shaded it, it made the change button extend too low, I'

[2020-06-23 17:57] mfldavidson opened #94 "Manage Queue settings page"
Refer to @teshsopher 's Manage Queue Settings page mockups https://www.sketch.com/s/88bccdc1-3ae0-4311-99a2-3dec82df2592--specific mockups linked below for each section

Move the following into a separate page for managing queue settings, [accessed by a Settings icon in the upper right of the queue management page](https://www.sketch.com/s/88bccdc1-3ae0-4311-99a2-3dec82df2592/a/34dVnz)

[General](

[2020-06-23 19:25] mfldavidson opened #95 "Add Queue workflow"
Create a workflow for adding a new queue instead of the text entry on the Manage page. Refer to @teshsopher 's mockup for Add Queue Page https://www.sketch.com/s/88bccdc1-3ae0-4311-99a2-3dec82df2592

1. [Add Queue text entry field is replaced by an Add Queue button on the Manage page](https://www.sketch.com/s/88bccdc1-3ae0-4311-99a2-3dec82df2592/a/2vjp9J)

2. [Add Queue workflow page 1 has host en

[2020-06-23 19:28] mfldavidson commented on #71
What if we also added if it's open or not

[2020-06-23 19:51] teshsopher commented on #69
I would suggest having a larger text box for this, and making it a little more clear that the number is the number of characters left (so it would show "975/1000"). I would want users to be able to see all/a sizable chunk of what they've written at a glance. If someone has a long description, having it all on one line can be difficult to use.

Maybe something like this?
<img width="564" alt="image

[2020-06-24 18:06] mfldavidson commented on #81
@jlost just want to confirm there's no reason for this to still be open after 1.1.1 was released? Can I close?

[2020-06-24 18:08] mfldavidson opened #96 "Filter list of queue meetings to show only mine, only unassigned"
Allow a host to filter the list of upcoming meetings in a queue to only those assigned to them or only those that are unassigned.

[2020-06-24 18:14] mfldavidson opened #97 "Self-service reporting by queue"
In order to meet the potential use case of lobby management, as well as to respond to general inevitable requests for reporting capabilities, Remote Office Hours Queue should make it possible for users to pull reports about usage of their queue. Some elements that may be important to report on include:

- Most popular times of the day, days of the week, and weeks of the year
- Number of attendees

[2020-06-24 18:17] mfldavidson opened #98 "Guest attendees--those who cannot login with U-M Weblogin"
There are members of the U-M community who meet with folks outside of U-M, such as recruiters who are working with prospective students. So long as a BlueJeans or Zoom meeting is hosted by a member of the U-M community, a guest should be able to join the queue and join the meeting without being required to log in as a U-M user. How can we do this without creating a major security risk?

[2020-06-24 18:18] mfldavidson opened #99 "Allow group meetings/grouping of attendees in a queue into one meeting"
If an attendee would like to meet with a host with another person of their choice, such as a friend who has a similar question to address, they should be able (if permitted by the queue settings) to invite a specific additional person or people (up to a certain number defined in the queue settings) to join their meeting. The host should be able to see who has been invited to the meeting.
Hosts may

[2020-06-24 18:20] mfldavidson opened #100 "LTI integration"
Since one of the primary use cases for Remote Office Hours Queue is instructors hosting office hours for students in their courses, it is important to consider creating an LTI for Remote Office Hours Queue so that it can be integrated into Canvas and Blackboard. In particular, some Ann Arbor schools/colleges/units as well as U-M Dearborn have been attempting to limit the tools that instructors are

[2020-06-24 18:26] #81 closed

[2020-06-25 14:52] bruinc commented on #69
Here's what I have for the queue description now! You can also see it in dev.
![image](https://user-images.githubusercontent.com/23128544/85742871-9a37f500-b6d1-11ea-83f5-7a819706cc37.png)
@teshsopher Let me know if you approve or want me to tweak anything else.

[2020-06-25 14:58] teshsopher commented on #69
Could you add just a little more space between the number and the button? After that, I think it looks great!

[2020-06-25 15:05] bruinc commented on #69
@teshsopher Is this a good amount of space (20px)?
![image](https://user-images.githubusercontent.com/23128544/85745499-bd63a400-b6d3-11ea-9fc6-f33a0c6f4006.png)

[2020-06-25 15:07] teshsopher commented on #69
Perfect, thank you! It looks amazing!

[2020-06-29 15:09] teshsopher commented on #6
Just as an update:

I've done several hallway tests with potential attendees/from the attendee point of view and:

- Having the Manage Queues link in the main nav works for hosts, but there are some concerns for attendees (not a block, but something to keep in mind).
- @mfldavidson's suggestion to have the manage queues in the user menu has similar/more value than having it exposed in the main nav

[2020-06-29 15:42] bruinc commented on #8
I started experimenting with a single-column layout that Teshia suggested as an option, and this is what I have now. I know the spacing at the bottom needs work and the turn-now alert language will need to be changed, but it at least shows the idea. Both the accordions and the "Join Meeting" button are all in the same BlueJeans-specific component.
![image](https://user-images.githubusercontent.com

[2020-06-29 19:44] ksofa2 commented on #67
Just chatted about this with Camillie a bit. Seems like we should not display duplicate error, naturally. Unclear on when to remove. @teshsopher @mfldavidson thoughts?

[2020-06-29 20:02] mfldavidson commented on #67
Could we do something like this logic: If error, check if same error is already displaying. If not, display error. If yes, just display the original error. I defer to @teshsopher on the UX principles. Just brainstorming

[2020-06-29 20:36] bruinc commented on #6
So something like this?
![2020-06-29 (2)](https://user-images.githubusercontent.com/23128544/86052387-e910c200-ba24-11ea-90e1-8dfe41da7593.png)

Is the "Manage Queues" link placement good, or should it be first in the drop down? Also, do we want to leave the existing link to the Manage page at the bottom of the home page?
![image](https://user-images.githubusercontent.com/23128544/86053484-933d198

[2020-06-29 20:50] jlost commented on #8
Spitballing some thoughts and ideas, in no particular order:
* Is the reason for the accordions to keep the "Join Meeting" from being pushed too far down on the page? If so, maybe it would be okay to leave them both "open" and put those two side-by-side in two columns.
* Expandable accordions should have some visual cue that they're expandable - I've typically right-aliged a carat on the right sid

[2020-06-29 20:53] mfldavidson commented on #6
My opinion is:
- switch Manage Queues with Preferences in the dropdown
- leave Manage Your Own Queues on the homepage (at least for now, since users are used to finding it there)

[2020-06-30 14:01] teshsopher commented on #6
I agree!

[2020-06-30 14:16] teshsopher commented on #8
My reason for the accordions was to reduce the (perceived) amount of content on the page. In the current design, the paragraphs are bulky, so I had pictured these below the "Join Meeting" button. However, seeing the instructions on a single-column layout, the text doesn't appear as compact, so it may be okay to skip the accordions. A side-by-side & expanded layout also works for me, if we want to

[2020-06-30 15:46] teshsopher commented on #67
Since moving the errors near their related fields has technical complexity, these are my current recommendations:

- Duplicate errors definitely shouldn't display

- In terms of when to remove an error: Looking at the list, some of these errors look like ones that would occur in sequence (i.e. Host goes to add another host and "user is not a valid user" is triggered. Then the host goes to change t

[2020-06-30 21:04] bruinc commented on #8
I'm still playing around with different things, but I wanted to add an update before the end of the day with what I have so far.

- I put the agenda field in the gray box and reduced the width of the box in order to reduce the width of the agenda field. However, I think it will be best to either keep the gray box at full width and just reduce the width of the agenda field, or center the smaller gr

[2020-07-01 14:13] jlost commented on #8
Would it cause migration difficulties to push these changes to dev?

[2020-07-01 15:44] bruinc commented on #8
@jlost I don't think that the migration files currently in dev will change at all if this branch is merged into it because the migration files in this branch are the older ones that have since been separated. However, I am not 100% confident because I'm still new to more intricate git histories.

[2020-07-01 16:48] jlost commented on #8
No problem, you can try merging this to dev (force-pushing this branch to dev is also an option), and let me know if you run into any difficulties. I can wipe the dev database to reset any migration problems if need be.

[2020-07-01 17:41] bruinc commented on #8
@jlost I merged this branch into dev with no migration issues. I can see that the code updated, but I do not see the changes on the dev website

[2020-07-01 19:26] jlost commented on #8
Looks like the container service timed out when the webhook was sent from the push. I resent the payload an it worked. so it's building now and will deploy soon.

[2020-07-01 19:38] bruinc commented on #8
Awesome, I can see the changes now

[2020-07-02 12:31] jlost commented on #8
![image](https://user-images.githubusercontent.com/11338926/86358873-387e0a80-bc3e-11ea-9e35-b54866ac2960.png)
How does this look? I have some ideas about how to refactor the `BlueJeansMeetingInfo` to put extra actions buttons next to "Join Meeting" if this looks good.

[2020-07-02 12:37] bruinc commented on #8
I think it looks great!

[2020-07-06 19:24] bruinc commented on #67
Update: I now know _why_ this is happening. Long story short, the error that's displayed is the first found error in an ordered array of possible errors. The order of this array is what decides the "hierarchy" phenomenon we see (e.g. `addHostError` comes before `changeNameError` in the array for the Edit page). I'd also like to point out that I haven't been able to reproduce two errors happening a

[2020-07-06 22:20] jlost commented on #67
I would suggest doing #1 first, making the ErrorDisplay component take a list of errors in its props, as that would be a positive change in terms of code quality even regardless of UX benefits.

#2 might be worth pursuing afterward, but it raises some questions as it might make sense to show multiple errors in some circumstances but not others. The implementation also seems to run the risk of addi

[2020-07-07 21:43] mfldavidson commented on #83
@ksofa2 unless I missed something, this is not done (I consider "done" = "in dev and tested" and it is not currently in dev nor has it been tested) so I am moving it back

[2020-07-07 21:49] #69 closed

[2020-07-08 00:39] mfldavidson commented on #88
We now know that what you tried worked, right @jlost ?

[2020-07-08 14:06] bruinc commented on #83
@jlost Can I go ahead and merge this into dev?

[2020-07-08 14:09] jlost commented on #83
Sure thing!

[2020-07-08 14:39] bruinc commented on #83
Successfully merged into dev, and the links go to the correct premium numbers webpage when testing in dev.

[2020-07-09 11:50] jlost commented on #8
I was thinking we could allow arbitrary extra actions next to "Join Meeting" inside of the `BlueJeansMeetingInfo` instead of refactoring a "Leave line" action into the props, which I think doesn't really belong there conceptually (leaving the line has nothing to do with BlueJeans meetings, and the meeting and queue should ideally be separate concepts).
If you take a look at `StatelessSingleInputFo

[2020-07-10 15:13] bruinc commented on #6
Merged- closing and moving to QA

[2020-07-10 15:13] #6 closed

[2020-07-10 17:54] bruinc commented on #67
Merged- closing and moving to QA

[2020-07-10 17:54] #67 closed

[2020-07-10 20:08] bruinc commented on #77
@mfldavidson @teshsopher The Manage Queue Settings Page (#94) and Add Queue Workflow (#95) issues address all of the host-side UI changes, but how do we want this to present to the attendee? The attendee should probably be forced to choose a meeting type when they try to join a queue if there are multiple possible meeting types, but should this be changeable on the "Joined Queue" page as well (i.e

[2020-07-13 12:50] teshsopher commented on #77
I have [a mockup for the Join Queue page](https://www.sketch.com/s/1c11c19c-c109-46c0-a541-b1b9b18b2d5f/a/WveRW0). I agree that the attendee should be forced to choose a meeting type when they join the queue, and I used an asterisk to visually indicate that the field is required. I'm currently doing user testing with it, and most users (so far) have understood what actions they need to take when t

[2020-07-13 13:06] teshsopher commented on #6
Is there a way to give the users a notification (maybe an alert/banner?) that the changes have been saved? Currently, clicking save just refreshes the page and shows the new phone number.

[2020-07-13 13:31] bruinc commented on #77
@teshsopher What if we allow the attendee to change the meeting type as much as they want until a host is assigned to their meeting?

[2020-07-13 15:07] bruinc commented on #6
I agree that there should be a banner to signify that the changes have been saved. Along the same lines, an error banner should probably show if the validation fails (a USA number has less than 10 digits excluding the country code). @teshsopher @jlost Should I go ahead and add these banners to this branch and make a new pull request? And if so, should the issue be moved back to "In Progress"? Or w

[2020-07-13 15:53] teshsopher commented on #77
@bruinc That's a great idea! My only concern with that is hosts can be assigned at any time and not just when a host joins a meeting, but if that isn't a major concern (I'm inclined to say it isn't, but it may be something we revisit later), then we can go forward with that solution. I'll update the mockup I linked above with what I think this should look like later today!

[2020-07-13 17:18] jlost commented on #6
I think that's a great idea, but let's make it into a new issue.

[2020-07-13 17:44] bruinc opened #102 "Banners on User Preferences Page"
Add banners on the User Preferences Page for:

1. Preferences have been saved (green or blue)
2. Validation failed (ErrorDisplay banner)

[2020-07-13 17:55] bruinc commented on #77
@teshsopher Since the meeting type is a required field for a meeting, should we also force the host to choose an initial meeting type when they manually add an attendee? Maybe something similar to this (excuse my choppy copy/paste):
![image](https://user-images.githubusercontent.com/23128544/87336759-5d149500-c510-11ea-8a7a-92eccd62f4ae.png)

[2020-07-13 18:02] teshsopher commented on #77
@bruinc Yes, hosts should be forced to choose a meeting type, and using something similar to what you've laid out would work for this!

[2020-07-14 13:43] bruinc commented on #8
Merged- closing and moving to QA

[2020-07-14 13:43] #8 closed

[2020-07-14 13:44] #83 closed

[2020-07-14 13:44] #90 closed

[2020-07-14 20:57] jlost opened #104 "Hide Phone Field in Join Info if Nonexistent"
I noticed an attendee's phone number shows up with odd example text if the attendee hasn't added a phone number yet. We could replace this with something nicer, or simply hide the phone field altogether.

![image](https://user-images.githubusercontent.com/11338926/87475502-ea301a80-c5f2-11ea-9fcb-e7f0d267c4f0.png)

[2020-07-20 13:28] bruinc commented on #17
This issue never got added to the project, but has been merged into 1.2 for some time, so sending it straight to QA.

[2020-07-21 01:11] jlost commented on #102
@bruinc @ssciolla Assigned this to Sam - let me know if you happen to have already started work on it.

[2020-07-21 12:12] bruinc commented on #102
That's perfect; I have not started work on this.

[2020-07-21 12:24] teshsopher commented on #17
Things I found while testing:

- There is no indicator or instruction text that the agenda needs to be less than 100 characters
- After typing in an agenda that is more than 100 characters, the Agenda field will act like an agenda has been added, displaying no text and just the edit button. It may be better for the field to remain as the text box and act as if text hasn't been entered yet/still be

[2020-07-21 12:52] bruinc commented on #17
I agree that it would be better for the error to show with the field still in the Edit state so that the user doesn't lose what they've written, and they can make the necessary modifications.

The reasoning behind making the agenda field be in the Edit state upon page load was to make it obvious and easy for the attendee to type something in as soon as they join the queue. But I agree, if they hav

[2020-07-21 17:20] teshsopher commented on #83
Tested and working in dev on 7/21

[2020-07-23 16:54] teshsopher commented on #69
As I was testing I found the following:
- If the number of characters in the field is over 1000 characters, and the host tries to save, the field is no longer in the edit state. If the field had a description, it defaults to show that. I think, in this case, the field should be left in the edit state to better indicate where the error happened.
- When the host has gone over their character limit,

[2020-07-23 16:57] teshsopher commented on #6
Some issues with this is that:
- Users can't remove their contact info
- If the user deletes their number/clears the field, and saves it, they get an error, but the field remains blank. Additionally, the old number is still shown to hosts in the "Join Info" popup.

[2020-07-23 17:20] teshsopher commented on #17
@bruinc I'm going to make this a new issue. Would this be better as two issues (i.e. "Keep Agenda in Edit State if There's an Error" and "Agenda in Edit State on Page load if no agenda") or is it better for you as one issue?

[2020-07-23 17:26] bruinc commented on #17
@teshsopher One issue is good!

[2020-07-23 17:28] teshsopher opened #107 "Keep Description Field in Edit State If Error on Saving"
If the number of characters in the Description field is over the limit (>1000 characters), and the host tries to save, the field is no longer in the edit state.

The Description field should be left in the edit state to better indicate where the error happened and so that the host doesn't lose their what they've typed.

[2020-07-23 17:31] teshsopher opened #108 "Agenda Field - Edit State Changes"
If there is an error saving the agenda (e.g. the attendee has entered an agenda with more than 100 characters), the error should display as normal, but the Agenda field should be in the edit state.

Additionally, if there is an agenda already when the page loads, the field should **not** be in the edit state.

[2020-07-23 17:33] teshsopher commented on #108
@bruinc If possible, it would also be good to indicate the character limit like you did for the Description field on the Host's side.

[2020-07-23 17:38] teshsopher opened #109 "Allow Users to Remove Alternate Contact Information"
Allow users to remove contact information (either by deleting the information, or having a link/text button next to the field that says 'Clear,' and let users save the blank field).

Additionally, make sure that the old number is not shown to hosts.

[2020-07-23 17:46] teshsopher commented on #8
Tested and Working in dev on 7/23

[2020-07-24 12:23] bruinc commented on #69
@teshsopher The red accents when the description is over the character limit should be doable since the description field has already been made into a special component (a "Show Remaining" field), so this could be a new issue as well.

[2020-07-24 12:32] bruinc commented on #109
@teshsopher I had the intention of allowing users to remove their phone number (set it to be blank), and it worked for me in testing, but while testing I always _highlighted_ the entire field with my mouse and deleted the phone number. My bad for not testing deleting the phone number by backspacing/deleting each character.

[2020-07-24 12:37] teshsopher opened #111 "Description field - Red Accents When Over Character Limit"
When the description field has more than 1000 characters, the field should be outlined in red and the character indicator should be red as well (e.g. if the character limit reads 1100/1000, the number should be red, and the field should be outlined in red).

This red should have a minimum contrast ratio of 4.5 with the white background.

[2020-07-24 12:41] jlost opened #112 "Temporarily remove user phone_number from API & edit page"
Because anyone can be a host and any host can look up any user's phone_number, it's effectively public. Let's make it private by not returning it from the API and removing the "alternate contact info" display on the edit page for now.  If we need to return the phone_number for the edit profile page, the phone_number field can be made to only render if the user making the request is the same as the

[2020-07-24 12:42] jlost commented on #112
@teshsopher @bruinc @mfldavidson Any thoughts?

[2020-07-24 12:53] bruinc commented on #112
@jlost I agree with you. And I think whenever we add it back, a statement next to the phone number field on the preferences page saying who would be able to see it and when might be a good idea.

[2020-07-24 12:57] teshsopher commented on #112
I agree that we should hide the number for now and, if/when we add it back, we do let the user who has access to their number

@jlost As far as using the number for notifications, since that's in a later milestone, should we hide the Preferences page until that is implemented?

[2020-07-27 12:39] mfldavidson opened #114 "Joining the Meeting text typo"
On the join queue page, once someone is in line, they see:

There should be a space between "See" and "How" in the last sentence. I would actually prefer we change "See" to "Refer to" since "See" implies having the ability to literally see, which not all users may have.

[2020-07-27 12:43] mfldavidson opened #115 "Adjust wording in attendee notification banners"
The yellow and green banners that notify attendees when their turn is coming up or here need some slight tweaks as we reformat the queue join page:

### Green

should be changed to:

### Yellow

should be changed to:

[2020-07-27 13:09] mfldavidson commented on #67
Just tested this by doing the following:
1. Attempted to add a participant who was already in the queue > result = error Add Meeting: jmaggiex is already in a meeting. = success
2. Attempted to add a host who has never logged into ROHQ dev > result = error added above Add Meeting error in error banner Add Host: zoomz is not a valid user. Please make sure the uniqname is correct, and that they have

[2020-07-27 13:20] mfldavidson commented on #90
I think this got moved back to QA just by automation and shouldn't have, I assume y'all have confirmed it is done so I will move it. Nothing to do to test.

[2020-07-27 14:50] mfldavidson commented on #80
Testing (in progress)
One window on queue join page, another on manage queue page
- [x] Join queue, ensure appears in manage page = success
- [x] Leave queue, ensure disappears in manage page = success
- [x] Rename queue, ensure changes in join page = success
- [x] Change description, ensure changes in join page = success, EXCEPT doesn't change in popup, but if popup is closed and reopened, it sho

[2020-07-27 14:56] mfldavidson commented on #80
I left it sitting on the queue page and came back to these 2 errors:
![image](https://user-images.githubusercontent.com/31591389/88557096-c956c480-cff7-11ea-944c-fa0873515987.png)

Good to tell people to refresh the page, but I wonder why 2 errors instead of 1 and not sure what "Refresh my user" means? I think this may be a question for @bruinc not sure

[2020-07-27 15:02] jlost commented on #80
"Refresh My User" should be changed to say "User Connection". There are two separate errors because there are two separate websockets that this error could potentially originate from. Condensing them would be less confusing to users, but since they're already in Errorville I would prefer to prioritize getting more detail in the resultant bug report, and knowing which socket(s) disconnected is an i

[2020-07-27 15:14] mfldavidson commented on #80
@jlost I can create a new issue for this. It was up on my computer, which fell asleep while I went for a 25 min walk. I didn't change networks but my computer did fall asleep so I assume it disconnected.

[2020-07-27 15:23] jlost commented on #80
OK, I did test disconnecting the network for a few minutes which was handled surprisingly gracefully, but not going to sleep. That might be fairly common, so if it's reproducible we could think of a more user-friendly way to address it.

[2020-07-27 15:24] mfldavidson commented on #80
I'm a pro at breaking things which is why I am accidentally decent at QA :)

[2020-07-27 15:27] mfldavidson opened #116 ""Refresh My User" error > "User Connection""
For the error "Refresh My User" that appears on the queue join page if there's an error connecting to the users API (I assume that's what causes it?) the phrase should be changed to "User Connection" to match the error naming conventions

[2020-07-27 15:29] mfldavidson commented on #80
I think that so long as it says "refresh the page" that's the main thing that matters, so I'm going to call those errors fine for now. If we encounter confused users we can address then. But maybe I'm not speaking with my UX hat on straight.

[2020-07-27 15:33] mfldavidson opened #117 "Show error if host removed from queue while on manage page"
If a host is removed from a queue while they are sitting on the manage page for that queue, they see an error like:

![host removed manage error](https://user-images.githubusercontent.com/31591389/88559299-a7127600-cffa-11ea-84e7-54aff8b96aa7.png)

It would be better to show an error. My thinking is something like this, which is pretty generic and unhelpful, but I'm trying to think of all the ways

[2020-07-27 15:37] mfldavidson opened #118 "Show error if queue deleted while host or attendee is on page"
Came up when testing #80

If the queue is deleted while a host has the window open, that window refreshes to show a fully blank page with only the header nav and nothing else.

If the queue is deleted while an attendee has the window open and is in the line, that window refreshes to show the queue page as if the attendee is NOT in line, with an error at the top `Queue Connection: 1011`. Attempting

[2020-07-27 15:44] #80 closed

[2020-07-27 15:44] teshsopher commented on #117
Another way that a person might get to the manage page and not have access is if someone (who was a host of the queue) shared the manage link with them and the person weren't a host.

@mfldavidson If the only case in which someone wouldn't have access to the manage page is if they weren't a host, we could say, "**Access Denied.** You are not a host of this queue. If you believe you are seeing this

[2020-07-27 15:49] mfldavidson commented on #68
I think this has been addressed by a combination of creating the #94 queue settings page and the adjustment to the #67 multiple errors. For now I think we can close this. Feel free to disagree with me and comment here?

[2020-07-27 15:49] #68 closed

[2020-07-27 16:01] teshsopher commented on #118
@mfldavidson If the queue is deleted while a host or attendee is on a page related to it, I think it may be better to re-route them to an error page, so that they don't think there is still a queue to join/manage.

In terms of the text of the error, if we show one error for both the hosts and attendees, it may be better to say "Queue Connection Error: Queue no longer exists. It may have been delet

[2020-07-27 16:25] mfldavidson commented on #118
I like that. I am not sure if this error is used elsewhere that makes this specificity problematic--I defer to the devs on that. But I think this should give enough guidance on a good-better-best style approach. Thanks Teshia!

[2020-07-27 16:27] mfldavidson commented on #117
Yeah I was thinking of that one too. That's a good suggestion for an error message. Let's go with that.

[2020-07-28 21:02] ssciolla opened #119 "Drop-down menu is cut off in smaller window sizes before breakpoint"
Though the drop-down menu is clearly visible in many cases, when the window size becomes small before the breakpoint, or the zoom is increased, the menu can be cut off on the right side, as in the image below.

<img width="301" alt="Screen Shot 2020-07-28 at 4 33 43 PM" src="https://user-images.githubusercontent.com/35741256/88720772-69454880-d0f3-11ea-9dc5-c814c195764a.png">

Maybe we could just

[2020-07-29 15:05] jlost opened #120 "Cleanup React Warnings"
Some warnings currently flood the console when certain components are rendered. These don't appear outside of a dev environment and don't have any tangible effect, but they are distracting during development. As @ssciolla pointed out, it would be good to clean them up.

![image](https://user-images.githubusercontent.com/11338926/88816738-b6282e00-d18a-11ea-8678-636c53159f5f.png)

[2020-07-30 22:38] #102 closed

[2020-08-05 14:09] #111 closed

[2020-08-05 18:00] bruinc commented on #104
Merged- closing the issue.

[2020-08-05 18:00] #104 closed

[2020-08-06 15:57] jlost opened #124 "Use websockets on /manage & remove useAutoRefresh"
One page, `/manage`, still uses `useAutoRefresh`. Switching it over to using websocket/Channels will allow us to remove `useAutoRefresh` entirely.

Doing this would necessitate a means of subscribing to the queues for which a user has been added as a host. When the user is removed or added as host to a queue, or a queue for which they're a host has been deleted, the page should update. This could

[2020-08-06 17:04] jlost commented on #124
One other idea: We could just necessitate manual refreshes on this page by removing useAutoRefresh and otherwise leaving it as-is. I doubt users tend to linger on it or watch it for changes.

[2020-08-10 12:35] jlost commented on #124
This will also allow `rxjs` to be removed as a dependency.

[2020-08-11 19:11] ssciolla commented on #107
Hi @teshsopher, @mfldavidson, not sure who will review issue #111, but I may have resolved this issue also, depending on the desired behavior.

[2020-08-11 19:44] teshsopher commented on #77
@jlost A few thoughts: If hosts are able to change what meeting types are available while the queue is open/has attendees, then an error or message should pop up for attendees that are in line to select a meeting type from the new available options.

Additionally, if a host has already started a meeting, should the meeting type for that meeting should not be able to be changed? I would also wonder

[2020-08-11 19:58] jonespm commented on #7
Might be safer/easier to support Markdown than HTML but there aren't any great supported WYSIWYG editors I could find for Markdown. Would be the biggest decision.

[Here's a list of rich text editor components](https://ourcodeworld.com/articles/read/1065/top-15-best-rich-text-editor-components-wysiwyg-for-reactjs) if we wanted to consider those.

[Draft](https://github.com/jpuri/react-draft-wysiwy

[2020-08-11 21:11] jonespm commented on #7
@ksofa2 mentioned in Slack that maybe just scanning and making the links clickable is enough. [This package](https://www.npmjs.com/package/react-linkify) does that but is alpha and hasn't been updated in a year.

Maybe we could also just [render the markdown](https://github.com/rexxars/react-markdown) without a WYSIWYG. Just tell people the format for making links?

[2020-08-12 14:21] teshsopher commented on #104
QA tested and working in dev on 8/12

[2020-08-12 14:33] teshsopher commented on #111
QA tested and working in dev on 8/12

[2020-08-12 14:34] teshsopher commented on #107
@ssciolla I tested this, and it works great!

QA tested and working in dev on 8/12

[2020-08-12 14:37] ssciolla commented on #107
Great, @teshsopher, I'm going to close this issue.

[2020-08-12 14:37] #107 closed

[2020-08-12 14:46] teshsopher commented on #102
@ssciolla For the most part this works, but, when the user deletes their number and leaves the field blank or leaves the "+1" extension, the banner displayed on Chrome is "Your preferences have not been saved," while, on Firefox or Safari, the banner displays "Your preferences have been saved."

As far as I can tell (please correct me if I'm wrong!), the number remains deleted/cleared no matter th

[2020-08-12 14:59] ssciolla commented on #102
@teshsopher, hm, let me take a look at the cross-browser comparison. This may have something to do with a bug in the component that doesn't let you clear all the characters (see comments on #121). I tried to work around that, but I may have missed something.

[2020-08-12 15:10] ssciolla commented on #102
@teshsopher, would you be willing to show me the behavior you're talking about? I don't think I've been able to replicate it, but that doesn't mean it's not happening. Feel free to DM me.

[2020-08-12 15:21] teshsopher commented on #102
@ssciolla I think I may have accidentally double-clicked on the "Save" button by mistake, since I can't replicate this behavior either now. Sorry for the trouble!

[2020-08-12 15:22] ssciolla commented on #102
No worries, let me know if you have other thoughts about this fix.

[2020-08-12 15:48] mfldavidson commented on #108
Was this resolved by your change @ssciolla ?

[2020-08-12 15:54] ssciolla commented on #108
I don't think so, but I'll check.

[2020-08-12 16:43] #115 closed

[2020-08-12 17:38] teshsopher commented on #77
Also, is it possible to require at least one option be selected and have one option selected by default on queue creation (I would recommend BlueJeans be the default option, but I'm open to other opinions!).

[2020-08-12 18:57] #116 closed

[2020-08-12 20:52] #114 closed

[2020-08-12 22:58] jlost commented on #77
In the interest of getting this out the door, I made it so an error message is displayed if you try to disallow a meeting type for which there is currently a meeting:

Any comments or changes for the text?
I think we should spin a better solution (allow the change but prompt conflicting attendees to change) off into a separate issue, because it's better UX, but also significantly more work to impl

[2020-08-13 00:52] mfldavidson commented on #77
Oh I'm sorry I said I'd get you that text and then I didn't. But I think that is actually a pretty good permanent solution, functionalitywise. We could create a new issue for the alternative idea but like you said, lots of work to implement, and I'd like to understand if it's really needed before we try to do it.

If it's possible to list the meetings, I love that idea. I like your text as well. N

[2020-08-13 12:14] teshsopher commented on #77
I agree that not allowing hosts to disallow a meeting type when there's a meeting for that type is a good permanent solution. The text is also good!

[2020-08-13 18:07] #117 closed

[2020-08-13 19:14] jlost commented on #118
This should be fixed, but I used the existing error text "Queue Connection: The queue was deleted." as that should be the only reason they would see the message.

[2020-08-13 19:14] #118 closed

[2020-08-14 12:41] teshsopher commented on #118
QA tested and working in dev on 8/14

[2020-08-14 12:42] teshsopher commented on #117
QA tested and working in dev on 8/14

[2020-08-14 12:43] teshsopher commented on #114
QA tested and visible in dev on 8/14

[2020-08-14 12:44] teshsopher commented on #102
I don't see any issues. Moving this to done!

[2020-08-14 15:05] ssciolla opened #133 "Disable last backend checkbox and add note/tool tip about not being able to go down to zero"
Not absolutely sure this is where I'm talking about, but I noticed when BlueJeans isn't configured (and I guess this would be the case whenever you have one backend), the `Checkbox` for "In Person" is still click-able. Might be nice to flip the `disabled` switch when this happens. Probably not a super common use case to have one backend, but I found it to be confusing. Similarly, if you try to un-

[2020-08-14 15:12] ssciolla commented on #108
@mfldavidson, are we still trying to get this in the release? I started work on this, so I could have it done today. Let me know what you think; I'm fine either way.

[2020-08-14 19:46] #77 closed

[2020-08-14 20:18] #112 closed

[2020-08-14 20:36] teshsopher commented on #112
QA tested and working in dev on 8/14

[2020-08-14 20:48] teshsopher commented on #116
QA tested and working in dev on 8/14

[2020-08-14 20:57] teshsopher commented on #77
@jlost I found two bugs:
- If a queue only lists "In person" as a meeting type, when the attendee joins the queue, the "Meeting via" field shows BlueJeans. Attendees are also unable to change the meeting type.
- When the attendee changes their meeting type from "BlueJeans" to "In person," the host's view continues to show the "Start Meeting" button as if the attendee were meeting via BlueJeans

[2020-08-15 02:03] jlost commented on #77
Thanks @teshsopher, those were good finds and potential showstoppers. I believe I've fixed both of these issues - check it out in dev.

[2020-08-17 12:26] teshsopher commented on #77
@jlost It all looks good to me now!

QA tested and working in dev on 8/17

[2020-08-17 12:26] teshsopher commented on #115
QA tested and working in dev on 8/17

[2020-08-17 17:05] teshsopher opened #137 "Warning Popup when Attendee clicks on "Leave the line""
In order to prevent attendees from accidentally leaving the line, there should be a warning message that pops up letting users know what will happen so they can confirm if that's what they want to do.

Title of popup: Leave the line
Popup message: You are about to leave the line. You will lose your place in queue.

[2020-08-17 22:37] mfldavidson opened #138 "Add attendee field is selected on manage/id page load"
Not sure why. Not a disaster. But we should make that not happen.

[2020-08-17 22:42] mfldavidson opened #139 "'s' on 'Manage Queues' is hidden in dropdown on smaller viewports"
If it's smaller but not so small it reverts to hamburger, the s is cut off by the scroll bar
![image](https://user-images.githubusercontent.com/31591389/90451266-6c5fa300-e0b9-11ea-9a89-2c4bcd7e75e6.png)

[2020-08-18 17:03] ssciolla commented on #139
Possible duplicate of this? https://github.com/tl-its-umich-edu/remote-office-hours-queue/issues/119

[2020-08-18 17:05] mfldavidson commented on #139
Oop you're right. I missed that. I will close and mark duplicate.

[2020-08-18 17:05] #139 closed

[2020-08-18 20:30] jlost opened #141 "Replace UsersConsumer with User Search API"
Create a User Search API that returns users by partial uniqname. Use it in place of the UsersConsumer to check validity of uniqnames and get associated IDs. Later, it will power typeahead user lookup widgets.

The main impetus of this is the slowness and poor scalability of the existing UsersConsumer, which returns all users upon page load, blocking certain interactions.

[2020-08-19 12:20] jlost opened #142 "Reconnect websockets following disconnections caused by different browsers"
Many devices disconnect websockets automatically to save power when the tab is put in the background.  When the tab returns to the foreground, check sockets and reconnect them if necessary.

https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

Open to other suggestions!

[2020-08-19 15:33] mfldavidson commented on #97
Requested by 2 users to date.
- TDX 79708
- TDX 103155

[2020-08-26 13:54] mfldavidson opened #148 "Just-in-time meeting creation"
Change to creating meetings at the moment the host is ready for the attendee because this is the only way that it will work with Zoom.

Zoom meeting design:
- Meeting is not created until host clicks a button to create it, it is no longer triggered by the attendee joining the line
- Attendee joins the line as Zoom type
- First, meeting must be assigned to a host before any Zoom meeting can be crea

[2020-09-01 14:11] #138 closed

[2020-09-01 15:45] ssciolla commented on #142
Websocket disconnects seem to happen in a number of circumstances, though especially with Safari browsers. @jlost has proposed a more robust/predictable solution than using the visibility API in PR #147, which leverages an external library.

[2020-09-01 15:52] ssciolla commented on #142
Issues resolved:

- [x] Safari Mobile: Errors lingered when a user exited the Safari application from a page with open websockets, let the phone go to sleep, and then returned to the Safari application and page. Resolution: Errors now indicate that a reconnection is happening, and they disappear in a couple seconds.

[2020-09-01 16:12] jlost commented on #142
[x] Safari Desktop & Mobile: If you visit a page that uses websockets (such as /edit/id), click an external link (such as in the MOTD), and then click back, these browsers will close the socket with a code of 1000 and also emit an error event with no error data. These errors will now disappear after a couple of seconds, when the socket reconnects.

[2020-09-01 16:16] jlost commented on #142
- [ ] Firefox: Errors would briefly appear upon page refresh or just before navigating away from the website via the address bar. These are now suppressed.

- [ ] Chrome Mobile: If a user put their phone to sleep for a few minutes and then returned to the tab, the socket would be closed and have emitted an error event named TIMEOUT. These errors should now disappear in a few seconds, after the soc

[2020-09-02 13:20] #119 closed

[2020-09-02 13:23] #142 closed

[2020-09-02 13:40] mfldavidson commented on #23
Requested by a lot of people so far, here are a few:
- [TDX 153155](https://teamdynamix.umich.edu/TDNext/Apps/31/Tickets/TicketDet.aspx?TicketID=153155)

[2020-09-03 13:26] teshsopher commented on #119
In QA and in Dev, I'm still running into this issue, both when I re-size and zoom in. Here's what I'm seeing in QA:

![image](https://user-images.githubusercontent.com/63423382/92120704-619a5300-edc7-11ea-970d-614f6e063f0e.png)

[2020-09-03 13:28] teshsopher commented on #142
Tested and working in QA on 9/3

[2020-09-03 13:30] teshsopher commented on #138
Tested and working in QA on 9/3

[2020-09-03 13:30] ssciolla commented on #119
Hi @teshsopher, doesn't look like this change has been pushed out to Dev and QA. I'll do that today and update you.

[2020-09-03 20:23] jlost commented on #120
I believe I fixed these; reopen if any resurface.

[2020-09-03 20:23] #120 closed

[2020-09-08 18:35] ssciolla opened #154 "input-group CSS class results in strange spacing, misalignment"
Minor issue, but it's been bothering me:

There is a CSS class for "input-group" that adds spacing around the entire field. Because spacing needs different depending on the context, sometimes this means there are strange cases of unaligned content/components, as seen below on the Manage Queues list:

<img width="654" alt="Screen Shot 2020-09-08 at 2 29 56 PM" src="https://user-images.githubusercon

[2020-09-10 20:02] teshsopher opened #155 "Fix Color Contrast Issues"
There are some links and buttons that don't have enough contrast. Minimum contrast should be 4.5:1 (ideally 7:1 for WCAG AAA compliance).

Places this should be adjusted:
- Alert banners: Links are not a high enough contrast
- Breadcrumbs: Links in the breadcrumb don’t have high enough contrast
- Manage: “+ Add Queue button” does not have a sufficient contrast with the button text (Maybe a darker

[2020-09-10 20:07] teshsopher opened #156 "Disambiguation of the "Edit" buttons"
The edit buttons on a queue's page need some disambiguation.

- When edit is selected, the opened fields should have a label (Edit Description does, but Edit Title doesn’t)
- When edit is clicked, move focus to text field so screen reader reads the name (NVDA doesn’t go into focus mode, so it’s not reading the field name; It works on the title edit, but not the description edit)

A11y Team Recomme

[2020-09-10 20:10] teshsopher opened #157 "Announce changes to the list on the "My Queues" page"
The `.list-group` where queues are displayed, async needs an aria-live, or some other means of notifying users that the list has changed (i.e. user has been added or removed from a particular queue while they are on this page)

[2020-09-10 20:12] teshsopher opened #158 "Increase visibility of "Leave the line" focus indicator"
"Leave the line" focus treatment is very subtle:

<img width="196" alt="image" src="https://user-images.githubusercontent.com/63423382/92797684-4c519580-f380-11ea-8632-564e146fe698.png">

The outline/highlight should be more visible and have sufficient contrast

[2020-09-10 20:16] teshsopher opened #159 "Add labels for form elements that don't have them"
3 form elements currently don't have a label. In each case, the text input has no label, but, instead, has placeholder which isn't accessible.

Labels (even if it's just screen reader only text) need to be added to:
- Add Host
- Add Attendee
- Add Queue

[2020-09-10 20:19] teshsopher opened #160 "Announce success for actions on queue pages"
On the individual queue pages, certain actions should be announced (for all users).

Areas that need announcing:
- Copy needs to be announced (for screen readers). Keep the focus on the copy button, or add a role="alert" with the message (it need not be visually present)
- Edit in place fields (description and title)
- Add host
- Add attendee

Note: Some changes (such as the edit in place fields)

[2020-09-11 12:20] jlost opened #161 "500 upon user deletion"
An error will occur if a user is deleted. The error comes after the deletion, so the deletion does occur successfully.

Fixed by #151

[2020-09-11 12:22] teshsopher opened #162 "Trap focus in popup modals"
For screen readers, when a popup occurs, focus should be trapped in the modals.

Popup modals where this is an issue:
- Delete queue
- Leave queue
- Delete host

[2020-09-11 14:01] ssciolla opened #163 "Make page updates from WebSockets accessible"
In either case, we would need there to be an ARIA notification to tell users what information has changed when the table updates (e.g. if two queues close while the user is on this page)

_Originally posted by @teshsopher in https://github.com/tl-its-umich-edu/remote-office-hours-queue/pull/153#discussion_r486331226_

This is a good point, and something that we should have a application-wide strat

[2020-09-14 13:29] #154 closed

[2020-09-14 13:29] #124 closed

[2020-09-14 13:30] #141 closed

[2020-09-14 13:32] #161 closed

[2020-09-14 13:36] #71 closed

[2020-09-16 13:49] mfldavidson commented on #71
Responsive design is nice, good padding even when small and queue names go onto multiple lines seamlessly

[2020-09-16 13:53] mfldavidson commented on #124
Tested while having this page up:
- Added myself as a host to a queue (with another user)
- Removed myself as a host for a queue
- Added host again
- Opened queue
- Closed queue
- Deleted queue

All updates were super fast, no apparent issues. Nice work!!! 💯

[2020-09-16 13:59] mfldavidson commented on #154
Fields such as add queue on manage page, add host on queue manage page, and add attendee on queue manage page are aligned now

[2020-09-16 14:02] mfldavidson commented on #161
Added user 'test12345' using admin (in QA) and then deleted immediately. No error 👍

[2020-09-16 14:04] mfldavidson commented on #119
Tested in Chrome and Firefox Desktop and dropdown always goes to the left now, so no possibility for getting cut off. Awesome!!! 🥇

[2020-09-21 14:52] ksofa2 opened #164 ""It's your turn" shows on closed queue"
The "It's your turn!" message shows even on a closed queue

![IMG_9E3E682F0AB4-1](https://user-images.githubusercontent.com/152920/93782429-8f213200-fbf8-11ea-89fa-6f39333cbc48.jpeg)

[2020-09-21 16:34] mfldavidson commented on #164
It should show, because you are still in line

[2020-09-21 16:37] mfldavidson opened #166 "Meetings created with BlueJeans meeting type when In Person is only option"
1. Create a new queue
2. Uncheck BlueJeans as a meeting type option
3. Add a new attendee on the manage side with In Person as the type (should be only option)
4. Meeting is created with BlueJeans as the meeting type, not In Person

[2020-09-21 18:24] #166 closed

[2020-09-21 21:37] mfldavidson opened #168 "Websockets don't auto-reconnect on Chrome, or do but error doesn't clear"
This is hard to reproduce, but on Chrome Desktop, if a page is idle for a long time causing the user connection to drop (and probably queue connection too but I did this on a page that doesn't have a queue connection), it is unclear whether it auto-reconnects or not. The error shows up and stays there, but it appears to still work...
![ezgif com-gif-maker](https://user-images.githubusercontent.com

[2020-09-22 19:01] ssciolla commented on #163
This may be a duplicate of #157, though it could be considered more expansive, covering updates to all pages with WSs.

[2020-09-23 13:35] mfldavidson commented on #15
Resolved by #80

[2020-09-23 13:35] #15 closed

[2020-09-23 13:36] mfldavidson commented on #3
Closing this as a won't do since no new work is going to be done on the BlueJeans integration

[2020-09-23 13:36] #3 closed

[2020-09-23 13:36] mfldavidson commented on #78
Closing this as a won't do since we aren't doing any new work on the BlueJeans integration

[2020-09-23 13:36] #78 closed

[2020-09-23 13:38] mfldavidson commented on #58
Edited to reflect Zoom since we aren't doing new work on BlueJeans

[2020-09-23 13:40] mfldavidson commented on #88
Not sure why this is still open, this was done in 1.2

[2020-09-23 13:40] #88 closed

[2020-09-23 13:43] mfldavidson commented on #164
I am going to close this as a won't do @ksofa2 since this is the intended behavior but feel free to argue

[2020-09-23 13:43] #164 closed

[2020-09-23 15:20] jlost commented on #88
Yes, this was done in #89.

[2020-09-29 20:36] #108 closed

[2020-10-07 13:23] mfldavidson commented on #23
Only if number in queue goes from 0 to 1

[2020-10-07 14:33] ssciolla opened #172 "Small possibility of user being deleted after confirmation, before queue creation in Add Queue workflow"
@jlost, you'll notice that I've implemented this form so that we check for the existence of hosts when they are entered (using `doCheckHost`), but we subsequently actually create the hosts as part of the queue creation by referencing user IDs. I decided that it would simplify the implementation and make more sense to not create the queue, hosts as we go along, but this opens up the (tiny) possibil

[2020-10-07 14:37] #95 closed

[2020-10-07 14:43] ssciolla commented on #95
I'd wait to fully QA this until issue #94 is also closed, as there will be some shared code, meaning I'll be making changes that touch these components.

[2020-10-14 12:59] jlost opened #174 "makemigrations result varies based on settings.BACKENDS"
`makemigrations` will generate changes if your local settings.BACKENDS doesn't have all of the backends enabled. It should always generate migrations that have all of the backends. The generated `default` values should point to a function if possible.

[2020-10-14 13:13] jlost opened #175 "Allow to configure default allowed backends"
You should be able to set an environment variable to configure which `allowed_backends` are checked by default when you create a new queue.

[2020-10-16 17:46] #23 closed

[2020-10-16 17:46] #25 closed

[2020-10-16 17:46] #174 closed

[2020-10-19 13:21] mfldavidson commented on #16
Prevent spamming the attendee by not allowing the host to send again for x period of time

[2020-10-19 15:12] jlost commented on #109
@teshsopher Can you take a look at the current implementation in dev and let me know if it fits the bill for this issue? You can clear the phone field and click Save to remove your phone number, although there isn't an explicit Clear button.

[2020-10-20 13:46] jlost commented on #168
I've noticed this before as well - by accident. I spent some time yesterday trying to repro this but wasn't able to. Would it be acceptable to "fix" (really, mitigate the confusion of) this by telling the user to refresh after *x* number of retries have elapsed?

[2020-10-20 14:04] teshsopher commented on #109
@jlost This looks good! I think, in a "nice to have" case, there would be a clear/remove button for the number, but it isn't necessary, based on some "hallway" user tests. The only issue that I have is that when I delete the full number (including the +1 ), it shows up with placeholder text, which may confuse some users into thinking that they have to delete that too. When I delete the entire fiel

[2020-10-20 15:08] jlost opened #176 "Docker ModuleNotFoundError: No module named 'uvloop'"
Error now occurs on Docker build:
[code]

Fix: use `uvicorn[standard]`

https://github.com/tiangolo/fastapi/issues/2181

[2020-10-20 15:19] jlost commented on #162
@teshsopher I'm having trouble reproducing this. In Chrome and Firefox, when I open a modal and press TAB, first Cancel is focused, then next OK is focused, and then it loops back around to Cancel. This goes for Join Info, Delete Queue, Delete Host. Leave Queue doesn't produce a modal. Maybe this was fixed somewhere along the way?

[2020-10-20 15:28] #176 closed

[2020-10-20 15:30] teshsopher commented on #162
I can't reproduce this either, so I think you're right!

[2020-10-20 15:42] #162 closed

[2020-10-20 15:47] teshsopher commented on #95
@ssciolla I did some testing with the Add Queue workflow. Everything seems to work as intended (errors throw as appropriate, queue is set up as expected, etc.). In terms of the accessibility of the Tab links that we discussed before, it may be possible to treat them as a sort of "sub-navigation." The current dev version looks like it handles the issue from before (where users couldn't click on the

[2020-10-20 17:37] jlost commented on #109
In that case, I can remove the placeholder entirely.

[2020-10-20 18:13] jlost opened #179 "Preferences page updates profile using user ID"
Currently the profile page issues an update to the profile with the user ID like so: `PATCH /api/profiles/{user_id}/`. The `profile_id` should be used instead. This will often fail to rear its head in development environments because the `profile_id` and `user_id` are likely to sync up.

[2020-10-20 18:40] ssciolla commented on #95
Thanks, @teshsopher. I am still mostly out sick at the moment, but I think I'll be back to working tomorrow. I think I've handled the missing labels with the Queue Settings PR I'm working on. I've also come up with a way there (maybe not the best way) to make the tab links keyboard accessible. I will try to get the PR updated and out to `dev` tomorrow. I will also look into the Cancel button issue

[2020-10-20 19:15] teshsopher commented on #95
@ssciolla Sounds good, take care of yourself!

As far as the contrast ratios go, the button background should be what you're paying attention to, in the case of the Add Host button (since the button text color and general webpage background are the same).

[2020-10-21 20:05] #109 closed

[2020-10-21 20:47] ssciolla opened #181 "Refactor `setQueueChecked` in `queueManager` and `queueSettings` into custom hook"
While working on PR #173, I essentially copied and pasted the wrapper function below from `queueManager.tsx` (formerly `edit.tsx`) into `queueSettings.tsx`. Subsequently, I modified it a little bit to initialize a couple other state variables whose initial state was derived from the queue. @jlost suggested re-thinking this block as a custom React hook.

[code]

[2020-10-22 16:01] mfldavidson opened #182 "Prompt host to enable SMS notifications"
We want to make sure that hosts know about the option to enable SMS notifications at the appropriate time.

Where it currently says "No meetings in queue" in a gray box, change it to the following:

Questions: is this the best UX? I do not want us to have to go out and check if someone has this set, that's too technically complex for right now, so does this wording confuse people and make them thi

[2020-10-22 17:00] ssciolla opened #183 "Modify SingleInputField, stateless form components, and AddAttendeeForm to use new validation patterns"
While working on PRs #169 and #173, I refined some of validation patterns that I had started developing in #143. It would make sense to return to some of those earlier components (`SingleInputField`, `StatelessInputGroupForm`, `StatelessTextAreaForm`, and `AddAttendeeForm`) and modify them to use `useState` hooks with `ValidationResult | undefined` types, rather than having separate hooks for `isI

[2020-10-22 17:13] mfldavidson opened #184 "Prompt attendee to enable SMS notifications"
We want to make sure that attendees know about the option to enable SMS notifications at the appropriate time.

Just below "Your number in line", IF the number is GREATER THAN 1, show this blurb:

Questions: is this the best UX? I do not want us to have to go out and check if someone has this set, that's too technically complex for right now, so does this wording confuse people and make them think

[2020-10-22 18:33] mfldavidson commented on #133
I'm having a hard time understanding what this issue was about in order to test it @ssciolla

[2020-10-22 19:17] ssciolla commented on #133
Understandable! With all the changes we made recently related to the Add Queue and Queue Settings pages, the specifics listed above don't matter. What matters is that the interactions around selecting and de-selecting meeting types makes sense and is user-friendly. What I was describing before was that you could still try to de-select checkboxes, but an error would be thrown and only be visible at

[2020-10-22 19:47] mfldavidson commented on #95
I tried really hard to break this and I could not, so as soon as the things Teshia is talking about are fixed (which it's up to you two if those should be new issues or not), this can move to Done. Thank you both!

[2020-10-22 19:48] mfldavidson commented on #94
I tried really hard to break this and I could not! Nice work @ssciolla . I'd like to hear @teshsopher 's input from a UX/accessibility perspective before moving to Done, but I have a feeling it is good

[2020-10-22 19:50] mfldavidson commented on #108
Tested and working in QA

[2020-10-22 19:50] mfldavidson commented on #176
@ssciolla can you test this please and move to Done if working?

[2020-10-22 20:20] #179 closed

[2020-10-22 20:22] ssciolla commented on #176
Sure, @mfldavidson. @jlost, I'm curious, why aren't the packages `gunicorn 'uvicorn[standard]' psycopg2-binary` in `requirements.txt`? Unless I'm missing something, seems like we would would have avoided this problem if we had pinned to a compatible version (`~=`) like we with the other dependencies.

[2020-10-22 20:46] jlost commented on #176
The idea is to decouple hosting dependencies from application dependencies. You could swap gunicorn for some other server and it would have no bearing on the app. But we can still version lock them in this file, and it would be a good idea.

[2020-10-22 20:48] ssciolla commented on #176
Gotcha, separating them makes sense for that reason. Version locking them in `Dockerfile` or a separate `host_requirements.txt` makes sense to me.

[2020-10-22 20:53] ssciolla commented on #155
I'm going to take notes as I try to address these:

- [] "Alert banners: Links are not a high enough contrast" -
- [] "Breadcrumbs: Links in the breadcrumb don’t have high enough contrast"
- [] "Manage: “+ Add Queue button” does not have a sufficient contrast with the button text (Maybe a darker green?)" -
- [] "Manage Queue: “+ Add Host” and “+ Add Attendee” buttons don’t have enough contrast (se

[2020-10-22 20:58] ssciolla commented on #95
I have a proposed solution to this in PR #185.

I think I addressed the Cancel button part of this in PR #173 by giving the buttons `link` styling. I'll tackle the rest of this in my work on #155.

[2020-10-22 21:10] jlost opened #186 "Lock pip requirements for hosting"
As @ssciolla mentioned in #176, updates to packages in `Dockerfile` can break the build, so they should be locked to a compatible version either there or in a separate `host_requirements.txt`.

[2020-10-22 21:11] jlost commented on #176
#186

[2020-10-23 13:51] jlost commented on #156
Looks like the edit buttons are no longer used after the Queue Settings page changes. Feel free to have a look in QA and reopen if I'm misunderstanding.

[2020-10-23 15:14] #186 closed

[2020-10-23 16:19] ssciolla opened #188 "Refactor validateAndSetXResult wrapper functions as custom hooks"
In PR #173, I created a couple wrapper functions that would validate values and set `ValidationResult`s for preexisting `useState` hooks. However, the use of these functions requires passing variables repeatedly in at each use. In an OOP context, a class would make sense to store the shared variables and actions. However, @jlost appropriately suggested twice using a [React custom hook](https://rea

[2020-10-23 19:54] jlost commented on #184
How's this visually:
![image](https://user-images.githubusercontent.com/11338926/97048118-e8f28000-1547-11eb-820d-8d8d4e7ff6e5.png)

[2020-10-23 19:56] jlost commented on #182
How does this look:
![image](https://user-images.githubusercontent.com/11338926/97048364-4c7cad80-1548-11eb-8a38-b170f0e025d2.png)

[2020-10-23 20:32] #188 closed

[2020-10-23 20:37] #183 closed

[2020-10-23 20:39] ssciolla commented on #183
For QA, we just need to make sure no regressions were introduced, i.e. that the forms and form validation still work as expected.

[2020-10-23 20:39] ssciolla commented on #188
For QA, we just need to make sure no regressions were introduced, i.e. that the forms and form validation still work as expected.

[2020-10-26 13:49] teshsopher commented on #182
For the wording, I think that we could say, "No meetings in queue. Make sure you've opted into host notifications in User Preferences to receive an SMS (text) when someone joins your empty queue."

As far as the look, the link doesn't have enough color contrast with the background. I think that, with this addition, we may want to consider if we need to put the message in one of these gray boxes. M

[2020-10-26 13:58] teshsopher commented on #184
For wording, we could say, "Make sure to opt into attendee notifications in User Preferences to receive and SMS (text) when it's your turn."

For the layout, the link doesn't have enough contrast, but this is one of the better ways to make sure attendees see it. Another option could be to put it above the info box like:

<img width="519" alt="image" src="https://user-images.githubusercontent.com/6

[2020-10-28 12:55] jlost opened #193 "Improve Twilio Scalability"
Outgoing SMS messages have rate limits that you can get around by distributing messages between phone numbers.

Message rate limits:
https://support.twilio.com/hc/en-us/articles/115002943027-Understanding-Twilio-Rate-Limits-and-Message-Queues

SMS Services have a Scaler option that autoselects the `From` number from your pool of phone numbers, distributing them evenly.

https://www.twilio.com/docs

[2020-10-28 13:42] ssciolla commented on #176
Docker build is now working well, and linked issue (#186) addressed any lingering concerns. Moving to Done.

[2020-10-28 14:18] mfldavidson commented on #182
I think @teshsopher 's recommendation about removing the gray box is good. Let's do that.

Joel recommended this wording and I think I'd like to go with it because I think it is the gentlest/doesn't make it seem required to opt in:

@jlost

[2020-10-28 14:22] ssciolla commented on #186
Ideally this would be QAed by someone who didn't review the pull request, but I've been working off `master` and I reviewed the linked issue leading to this change. I think we're good to go, I'm moving to Done.

[2020-10-28 14:22] mfldavidson commented on #184
I agree with the concern that attendees will skip over it. I'd like to stick with the layout James has recommended if we can. Is it bad practice to change the color of just this one link hard-coded?

Similarly to the other one, I'd like to apply Joel's recommended verbage here:

[2020-10-28 14:54] jlost commented on #184
I believe Sam's fix here will solve the problem of link color contrast in light blue alerts:
https://github.com/tl-its-umich-edu/remote-office-hours-queue/pull/191/files#r512158694

[2020-10-28 15:03] jlost commented on #184
Here's how that looks:
![image](https://user-images.githubusercontent.com/11338926/97454508-376b9a00-190d-11eb-9d94-b32962a97b5e.png)

[2020-10-28 15:53] ssciolla commented on #157
Hi @teshsopher, I started looking at this. Adding `aria-live='polite'` to the `div` containing the table seems to do some of the things we want, but doesn't do other things that seem important. Here's what I'm observing when testing with Brave and Mac's VoiceOver:

* New queue appears in list: The new row in the table is announced, and all the cells and their labels are read (which seems ideal fro

[2020-10-28 16:16] ssciolla commented on #160
MDN mentions the existence of an `aria-relevant` attribute where you can specify `removals` as an action to be announced: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-relevant_attribute

However, this doesn't seem to work with VoiceOver. This site, which I don't think I've seen before, specifies that support for `aria-relevant` can be spotty: https

[2020-10-28 16:26] ssciolla commented on #156
@jlost, the Edit button is still used for the Agenda field in `queue.tsx`. That's the only remaining use I'm aware of.

[2020-10-28 16:32] #137 closed

[2020-10-28 17:09] teshsopher commented on #157
Given what you've found, it's probably better to look for a solution that gets us closer to the ideal state (where important updates are announced in a clear/accurate way). Given some of the complexity/difficulty of this (VoiceOver tends to be a bit of a wild card when it comes to screen readers, I've noticed), it doesn't have to be in this release, but it is something I think is important.

In th

[2020-10-28 17:17] mfldavidson commented on #137
Can this be pushed to QA @ssciolla @jlost I just tested and it isn't there

[2020-10-28 17:18] ssciolla commented on #137
Yeah, I'll do that. Just need to re-build.

[2020-10-28 17:54] ssciolla commented on #157
I meant to add the below comment to this issue, not #160.

[2020-10-28 18:52] ssciolla commented on #160
@teshsopher, I could use some clarification on how you want "Add Attendee" and "Add Host" announced. I could add `aria-live='polite'` to their containing `div`s (which would lead to screen-readers reporting the new items after they are added, I believe), but when you say "all users", I get the feeling you want there to be an alert or some other message indicating something has happened.

I guess c

[2020-10-28 20:12] ssciolla commented on #160
Part of this looks like it is already done. @jlost added a screenreader alert a while ago that does announce "Copied" after the action. The focus does move to the URL after clicking the button. I could probably keep the focus on the button, if desired. Please let me know if you want that or anything else done to this field.

[2020-10-29 12:51] teshsopher commented on #160
"Add Host" is probably not necessary now, since that has moved to the Queue Settings, and isn't on the main page anymore. For "Add Attendee," it would be nice if, when an attendee joined, that was announced to the screen reader, either in the form of "[user] has joined the queue" or "[number] of attendees joined queue" (or something to that effect). The main concern is that folks who can't see the

[2020-10-29 13:44] jlost commented on #184
I applied the wording changes and will rely on Sam's accessibility tweaks for the contrast problem (#191 , #155)

[2020-10-29 13:59] jlost commented on #193
After putting the question (Twilio Proxy vs. SMS Services) to Twilio support I got the following response:

That jives with my own impression, so I'll go forward with setting up the Messaging Service with Scaler.

[2020-10-29 21:44] ssciolla opened #197 "How would a meeting end up with no attendees?"
While testing on `dev`, I managed to discover a bug (that I don't know how to reproduce) whereby a meeting can end up with no attendees, which throws a JS exception because the UI (in `queueManager.tsx`) assumes meetings have at least one attendee. During the testing, I was deleting meetings, and I was changing a test user's first and last name and email address (actually repeating my own, which c

[2020-10-30 16:40] #155 closed

[2020-10-30 16:42] #193 closed

[2020-10-30 21:21] #156 closed

[2020-11-02 13:05] #182 closed

[2020-11-02 14:27] #184 closed

[2020-11-02 15:03] teshsopher commented on #156
Since QA isn't really needed for this issue (I don't think anything was changed?), I'm moving this to done!

[2020-11-02 15:06] ssciolla commented on #156
@teshsopher , could you please test that the input field for the Agenda Edit button field receives focus at the right times (i.e. not on initial page load if if it starts in an editing state, but always focused when it appears after clicking the Edit button)?

[2020-11-02 15:06] teshsopher commented on #137
Tested and working in QA

[2020-11-02 15:07] ssciolla commented on #156
Also, probably worth checking that the Agenda field has the label you requested.

[2020-11-02 15:12] teshsopher commented on #159
Tested in QA:
- As an attendee in queue, when the Agenda text field is opened, the text field doesn't have a label
- The Name and Description fields in the Queue Settings page don't have labels
- The Add Host field in the Queue Settings page doesn't have a label

For these, I think, visually, these are labelled, it's just that screen readers don't "see" the label, so the fields don't appear to hav

[2020-11-02 15:17] jlost commented on #158
Looks like only Join Meeting uses this particular style now.
@teshsopher  How does this look?:
![image](https://user-images.githubusercontent.com/11338926/97884849-9443c780-1cf4-11eb-9db5-ed22ecc2abc3.png)

[2020-11-02 15:18] jlost commented on #158
I could also change the style to "primary" (blue) if that's preferred.

[2020-11-02 15:28] #168 closed

[2020-11-02 15:29] ssciolla commented on #159
`aria-label` needs to be moved from the containing `form` element/component to the specific `input` element.

[2020-11-02 15:32] teshsopher commented on #94
Tested and working in QA!

The only issue here is that the 'Discard Changes' button/link is just _slightly_ too light for the background (since the background is technically FFFEFE). For safety, I'd recommend changing the red to DA2F40 or something darker.

[2020-11-02 15:36] ssciolla commented on #94
@teshsopher, can you create a new issue regarding the red text contrast issue, please?

[2020-11-02 15:41] teshsopher opened #198 "Color contrast adjustment for "Discard Changes" on Queue Settings page"
The 'Discard Changes' button/link is just slightly too light for the background (since the background is technically FFFEFE). For safety, I'd recommend changing the red to DA2F40 or something darker.

[2020-11-02 15:41] teshsopher commented on #94
@ssciolla I've created the new issue and moved this to done!

[2020-11-02 15:59] #159 closed

[2020-11-02 15:59] jlost commented on #197
One way it could happen:
* Create meeting for an attendee
* Delete that attendee
* Deletion cascades through the meeting, creating a meeting with no attendees

[2020-11-02 17:52] ssciolla commented on #160
Okay, @teshsopher, so the attendee announcements are in the same realm as #157 and the parent issue #163, so I'm going to push that off. I can handle the CopyButton focus issue today. I will create a separate issue for that and then move this one out of the project.

[2020-11-02 17:53] ssciolla opened #202 "Keep focus on CopyField button"
In terms of the "Copied" announcement, keeping focus on the button is the best, since folks may not know that they would be moving from the button to the URL field.

_Originally posted by @teshsopher in https://github.com/tl-its-umich-edu/remote-office-hours-queue/issues/160#issuecomment-718731853_

[2020-11-02 19:27] #202 closed

[2020-11-02 20:02] teshsopher commented on #202
@ssciolla I'm still seeing the issue where, when the copy button is clicked, focus goes to the URL field

[2020-11-02 20:02] mfldavidson opened #204 "Hover indicator for Home and Resources & Support"
When hovering over your uniqname in the upper right, the color changes to show that you're hovering over it. This does not occur for Home nor for Resources & Support. Should it?

Hovering over my uniqname:
![image](https://user-images.githubusercontent.com/31591389/97913353-26ab9180-1d1c-11eb-89db-8881b5919731.png)

Hovering over Home or Resources & Support:
![image](https://user-images.githubuser

[2020-11-02 20:04] ssciolla commented on #202
@teshsopher, sorry, I hadn't started a new build yet in OpenShift, I will DM you when it's done.

[2020-11-02 20:04] teshsopher commented on #156
Tested and working in QA. The field also has the label!

[2020-11-02 20:07] teshsopher commented on #159
Tested and working in QA

[2020-11-02 20:15] teshsopher commented on #202
Perfect, tested and working in QA!

[2020-11-02 20:27] mfldavidson opened #205 "Ordering of queues on My Meeting Queues (/manage)"
Order meeting queues on /manage. Should it be:
- By ID
- By name
- By status and then either ID or name?

Up for discussion.

[2020-11-02 22:29] #198 closed

[2020-11-02 22:39] ssciolla opened #206 "Reevaluate current use and setup of Bootstrap and CSS"
While working on PRs #191 and #201, I noted that we are often adjusting colors and overriding Bootstrap classes for `*-danger`, `*-success`, etc. Bootstrap 4 provides ways to customize a theme or palette by using Sass, but this may not be possible while using a CDN (as we're doing now). Currently, we're stuck using `!important` and individually defining `btn-danger` and `badge-danger` overrides to

[2020-11-03 13:15] teshsopher commented on #198
Tested and working in QA

[2020-11-03 13:37] teshsopher opened #207 "Color contrast fixes for queue ID number and "Open" queue status badges"
Currently, the blue badge (.badge-primary) for the Queue ID number and the green badge (.badge-success) for the "Open" status don't have enough color contrast. I recommend that both be darker to meet the 4.5 contrast ratio requirement.

[2020-11-03 13:46] teshsopher commented on #155
Tested and working in QA

[2020-11-03 14:11] teshsopher commented on #184
Tested and working in QA

[2020-11-03 14:12] teshsopher commented on #182
Tested and working in QA

[2020-11-03 15:08] #158 closed

[2020-11-03 18:16] teshsopher commented on #158
Tested and working in QA

[2020-11-03 18:36] teshsopher commented on #95
Tested and working in QA

[2020-11-03 18:37] teshsopher commented on #109
Tested and working in QA

[2020-11-03 20:02] mfldavidson opened #208 "Back to Manage Queue button on settings page"
Users may have difficulty figuring out how to get back to the queue management page from the queue settings page because the only way to do it is by clicking in the breadcrumbs. Consider whether we need to add a "Back to Manage Queue" button--maybe down at the bottom by Save Changes? @teshsopher defer to you--we may need to test this

[2020-11-03 20:32] mfldavidson opened #210 "Adjust language for SMS notifications"
Goals:
1. adjust language to account for in-person meetings
2. clarify why person is getting text and how to opt out

### Host

### Attendee

[2020-11-03 22:33] mfldavidson opened #212 "Prevent people from adding non-US/Canada (+1) cell phone numbers"
For now, we will only allow US/Canada numbers (i.e. country code +1). If we get requests to allow other countries we can re-evaluate but this should cover most use cases. Additionally, it is confusing for users to type in country codes which they aren't used to and easily lead to entering invalid international numbers.

Ideal scenario is to ONLY allow area code plus phone number, don't even allow

[2020-11-04 14:45] ssciolla commented on #207
@teshsopher, can you re-evaluate the green for the badge here? I changed a few things in the CSS in PR #201, and I think I resolved this.

I agree that we should align the blue in use here to what we have for the blue buttons throughout the U, to improve contrastI. I do wonder if the font-size and font-weight make it technically AA compliant...

[2020-11-04 14:47] ssciolla commented on #208
@mfldavidson, I thought about this at various times while working on these workflows. Pretty easy to implement, though I'm a little uncertain where exactly such a button should go.

[2020-11-04 14:52] mfldavidson commented on #208
I think down next to Save Changes might make sense

[2020-11-04 14:59] mfldavidson opened #213 "Getting logged out in another window should trigger redirect to login"
If I am logged in to ROHQ in one window, and in another window I log out, nothing happens on the original page to tell me that I have been logged out. However, when I click on anything, I get errors that might not make sense to an end user. For example, if I get logged out while sitting on the /manage page, then click on a queue, it gives me `Access Denied: You are not a host of this queue. If you

[2020-11-04 15:20] teshsopher commented on #208
I wonder if putting it near the top of the page might make more sense, since that's generally where navigation type links are located.

I have a rough mockup of both options to see (I hope I understand your suggestion, @mfldavidson, please correct me if I'm wrong!)

At the top of the page:
![Back to queue at top](https://user-images.githubusercontent.com/63423382/98129330-01876200-1e87-11eb-9343-3

[2020-11-04 15:34] teshsopher commented on #207
The green works, thank you!

As far as the blue, it might be technically compliant. I know that the font-size says 90%, do you happen to know what that is in px or pt? If it's >18px or >14pt font and bold, then it would pass because large text only needs a contrast of 3:1

[2020-11-04 15:54] mfldavidson commented on #208
I like your top of page mockup. Let's do that.

[2020-11-04 18:45] mfldavidson commented on #208
Since this is pretty quick and I'm finding in my testing that I think it's a bigger issue than I was originally thinking, let's try to get this in 1.3. @ssciolla can you do it?

[2020-11-05 14:23] mfldavidson commented on #172
We aren't deleting users at all right now, so I'm not sure how this would happen

[2020-11-05 14:26] mfldavidson opened #215 "Expose phone number and SMS preferences in admin"
Make phone number and SMS preferences visible and configurable in the Users section in admin

[2020-11-05 15:29] jlost commented on #172
It would probably never happen in production, but in theory if you were running this software with a different authentication backend, you might want to delete users. I guess you could say this is a small bug for use cases we aren't really supporting right now. We could hide the "delete" button in the admin panel to clarify that we don't really support that, unless there are any other institutions

[2020-11-05 15:48] #208 closed

[2020-11-05 15:54] #215 closed

[2020-11-05 17:07] mfldavidson commented on #212
Well, this is what Twilio said:

So for now let's stick with just US and Canada, and if tons of requests come in to support numbers from a particular country (probably China), we can evaluate whether/how to purchase a China number and how much complexity it would add. I think it's likely a technical no-go.

[2020-11-05 17:51] mfldavidson commented on #210
Edited to try to get down to 2 or maybe even 1 segment (refer to https://twiliodeved.github.io/message-segment-calculator/ to calculate)

### Host

### Attendee

### Both
Add at the end. This blurb, including the newlines, would be 132 characters of the 160 per segment (in prod, based on the length of the URL). Make sure to use GSM-7 encoding and newlines should be 0x000A per the message segment c

[2020-11-05 18:01] #212 closed

[2020-11-05 18:50] mfldavidson opened #219 "Align Manage Queues language"
On homepage, link is "Manage Your Own Queues", but in dropdown, it is "Manage Queues." Change link on homepage to "Manage Queues" to align language and make it clear they are the same page.

[2020-11-05 18:52] mfldavidson opened #220 "Show character limit before typing starts"
The way we are doing validation, the character limit doesn't show until a user starts typing into the field. Can we show it all the time? So for example if the field has a 100 character limit, show "Remaining characters: 100/100" when first loading the page, not simply after typing starts.

[2020-11-05 19:17] ssciolla commented on #220
I feel we've talked about this (or similar things) before, and I may have even had it working this way previously. I'd like to hear @teshsopher 's perspective. I think we chose our current approach because there are fields that are required (like the Queue name) that, if we validate immediately, will appear as invalid (red styling) without the user doing anything -- which doesn't seem great to me.

[2020-11-05 19:23] ssciolla commented on #220
I do understand why a user might want to know how many characters they can use before they type anything. I'm just a little frustrated because I agonized over this previously, and now it feels like we're doubling back.

[2020-11-05 19:52] teshsopher commented on #220
I agree with Maggie that, in an ideal case, the count would be visible the whole time for the sake of clarity and error prevention. I do think that we have discussed this before, @ssciolla , so I understand your frustration. I think that, where the back and forth happened is when it came to validation, since, you're right, we are validating to see if this field is over/under the character limit.

[2020-11-05 20:22] mfldavidson commented on #220
I added this based on Zhen's feedback. If it isn't feasible or we have already discussed, we can close it as a won't fix. I have no opinion either way.

[2020-11-05 20:43] #220 closed

[2020-11-06 17:05] #210 closed

[2020-11-09 20:23] mfldavidson opened #221 "Can't delete a description after one has been added"
If the queue description has content, deleting that content and saving doesn't save. The only way to remove a queue description is to replace the content with a space, and then it saves as empty.

Replication steps:
1. Create a queue and give it a description
2. View the queue as a visitor and confirm the description is visible
3. Go to Settings and attempt to delete the description, leaving nothi

[2020-11-09 21:20] #221 closed

[2020-11-09 22:39] ssciolla opened #224 "Unable to access admin site because of module-level reverse"
During testing in QA, we discovered a bug that prevented us from accessing the `admin` site. This traceback was visible in the backend:

[code]

After investigating, @jlost and I concluded that the issue was caused by the usage of `reverse` in `officehours_api/notifications.py`, specifically the use of `reverse` at the module level in `PREF_URL`, introduced by PR #210.

[2020-11-09 22:57] #224 closed

[2020-11-12 21:59] ssciolla commented on #205
I got started on this. If we wanted to do something really basic, this might suffice: https://github.com/tl-its-umich-edu/remote-office-hours-queue/compare/master...ssciolla:issue-205-sort-queues?expand=1

I'm sorting by status and ID descending (that can be tweaked easily). My initial thought was that the `open` and most recently created queues should go first. See screenshot below.
<img width="5

[2020-11-17 20:49] mfldavidson opened #226 "Change attendee notification to be when Start Meeting or Ready for Attendee is clicked"
Change the criteria for when an SMS notification is sent to the attendee. Right now it sends when they are first in line. We instead want to send when Start Meeting or Ready for Attendee is created (meeting moved to Meetings in Progress)

[2020-11-18 16:43] ssciolla commented on #205
We're going to wait on a more sophisticated table ordering approach (using a custom component), so we just need to decide on a sorting algorithm.

[2020-11-18 17:01] mfldavidson opened #227 "Auto-assign host on single-host queue"
If a queue has only one host, auto-assign all meetings in the queue to the only host

[2020-11-18 17:09] mfldavidson opened #228 "Change host disclaimer"
At the top of the meeting list, a blue info disclaimer shows "Once you create a Zoom meeting, you cannot change it to another host" but only if Zoom is an allowed meeting type on that queue

[2020-11-18 17:48] mfldavidson opened #230 "Once meetings are started, move into Meetings in Progress"
Once Start Meeting has been clicked on a Zoom meeting, or Ready for Attendee clicked on In Person meeting, that meeting moves up in the page to a separate section above Meetings in Queue called "Meetings in Progress". This table contains the following columns: Attendee, Host, Meeting Actions. No queue #

Host is grayed out if the meeting type is Zoom, changeable if the meeting type is In Person

T

[2020-11-19 15:07] #205 closed

[2020-11-19 16:23] mfldavidson opened #231 "Attendee view info about place in line"
# When attendee is 2+ in line (no longer just show this if <=5th--show all the time)
Yellow alert
### Zoom or BlueJeans:

### In-Person:

# When attendee is first in line and Create Meeting/Ready for Attendee has NOT been clicked (i.e. not in progress):
Green alert
### Zoom or BlueJeans:

### In-Person:

# When Create Meeting/Ready for Attendee HAS been clicked (Meeting moves to Meetings in Progre

[2020-11-19 17:35] mfldavidson opened #232 "Attendee view - in progress"
Once the meeting is in progress, "You are currently in line" should change to "Your meeting is in progress." and "Your number in line" should go away. Meet via and meeting agenda should no longer be editable. This is for all meeting types.

[2020-11-19 17:48] mfldavidson opened #233 "JIT VC meetings - attendee information"
Before the meeting is created, the Join Meeting button should be grayed out.

Before the meeting is created, show this message just above "Join Meeting" button (where it currently says "The host will join...")

Once the meeting is created, show this message just above "Join Meeting" button (where it currently says "The host will join...")

![Joining the Meeting and Having Trouble with Video info b

[2020-11-19 18:44] mfldavidson opened #234 "Field for in-person meeting location on queue if queue has in-person meeting type option"
If In-Person is selected as a meeting type option, an additional field should become available just below Meeting Types in Add Queue and Settings.

The field should be a text field with a character limit of 100 and the same validation used in the queue name field.

In the attendee view, BEFORE joining the line, the location should show as an additional bullet below "You are not in the meeting queu

[2020-11-19 18:47] mfldavidson opened #235 "Remove join meeting blurb if meeting is in-person"
The below message shows even when the meeting type is in person. We should just remove the entire message if the meeting is in-person. Note that this message is being changed for VC meetings in #233

[2020-11-19 22:40] ssciolla commented on #163
My work in progress on this issue (and child issues #157 and #160) can be seen here: https://github.com/tl-its-umich-edu/remote-office-hours-queue/compare/master...ssciolla:issues-157-160-change-event-alerts

[2020-11-20 15:56] mfldavidson opened #236 "Remove notification for uniqname queue redirect"
![image](https://user-images.githubusercontent.com/31591389/99820482-d6f00700-2b1e-11eb-82f3-bdcc822b6998.png)
We added the above yellow box as part of the queue redirect for the April 8 release that changed from /queue/uniqname to /queue/id. It has been long enough that I do not think we need this notification anymore. Let's keep the functionality that redirects to a search, but remove the notifi

[2020-11-30 14:27] teshsopher commented on #148
I have a mockup for this: https://www.sketch.com/s/8621ed00-6017-4fd0-80e4-6af782047a38

I also did my best to address the issue of the Create Meeting button not being present until a host is assigned by adding a short text instruction.

[2020-11-30 14:27] teshsopher commented on #230
I have a mockup that includes this (if references are needed): https://www.sketch.com/s/8621ed00-6017-4fd0-80e4-6af782047a38

[2020-11-30 15:23] mfldavidson commented on #148
"Please Assign Host" works for me!

[2020-11-30 15:55] ssciolla commented on #230
Thanks, @teshsopher, I have something working I believe, but I think I may wait until the Zoom piece is merged before submitting PR.

[2020-11-30 22:06] ssciolla commented on #230
@mfldavidson, I have a question. It looks like @jlost implemented logic in the backend that makes it so all meetings -- regardless of type  -- cannot have their hosts reassigned once they have been started (i.e. the user pushes "Start Meeting" or "Ready for Attendee"). This is contrary to what you have requested above, but I thought it might be wise to pause and consider this point more. It would

[2020-12-01 15:38] mfldavidson commented on #230
I am ok with it not being changeable once in progress, regardless of meeting type.

[2020-12-01 15:47] ssciolla commented on #230
Thanks, @mfldavidson. I'll proceed with that approach. As an alternative, we could have a "Add back to queue" button, that moves it from "In Progress". I think I remember someone (not me) suggesting this in the past. In practice, that might mean just deleting an existing meeting and re-creating it with the same attendee. If that's something you think would be valuable, perhaps it's worth an issue?

[2020-12-01 15:54] ssciolla commented on #236
@mfldavidson, okay, so removing the alert is straightforward, but it looks like the search redirect was removed at some point. I'll have to look into what it would take to replace it. @jlost suggested just a simple 404 page would be preferable.

[2020-12-01 15:54] mfldavidson commented on #230
We ended up not doing that at least for now because of the complication of
what if the attendee has already joined the meeting

Maggie Davidson, she, her, hers <https://www.mypronouns.org/> pronouns

Service Manager | Zoom, Student Explorer, Remote Office Hours Queue

Information and Technology Services | University of Michigan

jmaggie@umich.edu | LinkedIn: mfldavidson
<https://www.linkedin.com/i

[2020-12-01 17:09] ssciolla commented on #228
@mfldavidson, so based on the discussion on issue #230, I'm going to change the text here to something like this and always show it?

"Once you start a video-conferencing meeting or indicate you are ready for an attendee in person, you cannot re-assign the meeting to another host."

[2020-12-01 17:17] ssciolla opened #239 "Co-locate meeting-related errors with Meetings in Queue/Add Attendee Form"
While we've improved error location and validation feedback elsewhere in the application, the `QueueManagerPage` still puts a number of meeting-related errors at the top of the page ('Add Meeting', 'Remove Meeting', 'Assignee', 'Start Meeting'). We could probably create a separate `ErrorDisplay` that lists these errors under "Meetings in Queue" next to the `AddAttendeeForm`.

[2020-12-01 17:33] mfldavidson commented on #228
Sounds good to me!

Maggie Davidson, she, her, hers <https://www.mypronouns.org/> pronouns

Service Manager | Zoom, Student Explorer, Remote Office Hours Queue

Information and Technology Services | University of Michigan

jmaggie@umich.edu | LinkedIn: mfldavidson
<https://www.linkedin.com/in/mfldavidson/>

On Tue, Dec 1, 2020 at 12:10 PM Sam Sciolla <notifications@github.com>
wrote:

[2020-12-01 19:17] mfldavidson commented on #236
Interesting...how did that happen...https://officehours.it.umich.edu/queue/jmaggie/

[2020-12-01 19:18] mfldavidson commented on #236
I would say that if someone tries to go to /queue/anything/ and the anything isn't valid, it should return the same error as an invalid ID like https://officehours.it.umich.edu/queue/1000000000000/

[2020-12-01 19:37] jlost commented on #9
Closed by #129

[2020-12-01 19:37] #9 closed

[2020-12-01 19:37] jlost commented on #148
Closed by #129

[2020-12-01 19:37] #148 closed

[2020-12-01 19:42] jlost commented on #58
Technically done in #129 but there is still some polishing to be done on the implementation. I'll create a new issue for that.

[2020-12-01 19:42] #58 closed

[2020-12-01 19:44] jlost opened #241 "Prompt Zoom 3-legged auth only on Edit page"
Instead of prompting for Zoom 3-legged oauth when any page is visited, prompt only when the Edit page is visited. That way, only hosts end up authorizing Zoom.

Added by Maggie: only prompt for Zoom 3-legged oauth when the queue has Zoom as an allowed meeting type.

[2020-12-02 20:12] ssciolla opened #242 "Make backend/meeting type settings (docs link, telephone number) availabe to frontend"
Currently backend type (or meeting type) information available to the React application via `globals` is limited to only a unique name string and a human-readable name, serialized as an object in key-value pairs. This arrangement means we are unable to also convey other settings (like a documentation link or a telephone number); instead we have to hard-code these settings in the frontend. It would

[2020-12-02 21:40] #242 closed

[2020-12-03 16:34] #230 closed

[2020-12-03 16:34] #228 closed

[2020-12-03 16:40] ssciolla commented on #233
@mfldavidson, do we know the international number link for Zoom yet?

[2020-12-03 17:04] mfldavidson commented on #233
I apologize for not coming back to this @ssciolla thank you for the reminder. Unfortunately there is no one link we can use that shows all numbers for OUR account unless someone is logged in. So I think it will have to be as follows, which is ugly:

[2020-12-03 17:30] ssciolla opened #244 "Filter out started meetings when calculating Meeting.line_place"
Right now, started/created/in-progress meetings seem to retain their place in line, which I believe gives waiting users a hazy sense of where they are in queue. We could remedy this by filtering out started meetings when calculating `line_place`. I'm thinking a change like the following:

[code]

[2020-12-03 17:52] ssciolla commented on #231
Because there is no way currently to know whether the host has joined the meeting, this workflow will likely need to be modified a bit. I will talk with @mfldavidson later today.

[2020-12-03 19:24] mfldavidson opened #247 "Change leave the line link for attendees once meeting is in progress"
When the meeting is in progress, "Leave the Line" on attendee view should change to "Cancel my meeting"

[2020-12-03 19:26] mfldavidson opened #248 "Think about what happens when meeting is deleted"
If attendee clicks Cancel my meeting after it is created, how does host know? What if host is in the meeting? The meeting gets deleted.

Similar issue the other way around

[2020-12-03 21:34] mfldavidson commented on #233
@ssciolla I updated the original issue at the bottom with the final Zoom international call-in link and info

[2020-12-04 21:44] mfldavidson commented on #239
I would prefer we not do this in 1.4--I do not think we will make it. I am pulling it and hopefully we can do it soon but not in this release.

[2020-12-04 21:46] mfldavidson commented on #181
How essential is this to do in 1.4? Can we delay until a future release?

[2020-12-04 21:48] mfldavidson commented on #236
Given that discovery, I'm pulling this for now, it is technical debt we can deal with later

[2020-12-04 22:08] mfldavidson commented on #227
This is a nice to have, but it is on the lower-priority end--don't start until all other 1.4 issues have been addressed, time permitting

[2020-12-04 22:10] mfldavidson commented on #181
I'm reasonably certain this isn't an absolute necessity for 1.4 so I am pulling it, lmk if I'm wrong

[2020-12-07 13:51] #241 closed

[2020-12-07 16:29] #231 closed

[2020-12-07 16:29] #232 closed

[2020-12-07 21:39] ssciolla commented on #233
@teshsopher, thinking back to our validation discussions, I think we've moved away from using `disabled` button styling to indicate something isn't yet ready to be used. Do you have any thoughts about communicating this detail in another way, so that users know that a "Join Meeting" button is coming but can't actually use it until it's ready?

[2020-12-07 21:48] ssciolla commented on #233
@teshsopher, I'm thinking about something like this, which isn't that different from what we currently have, but does call attention to the fact that a button will appear.

<img width="716" alt="Screen Shot 2020-12-07 at 4 47 11 PM" src="https://user-images.githubusercontent.com/35741256/101409516-012a1e80-38ac-11eb-9485-4c09f5a26524.png">

[2020-12-07 22:07] #244 closed

[2020-12-08 13:15] teshsopher commented on #233
I think this is good! The language works and, since it's bold, it will hopefully stand out more so folks won't miss it!

[2020-12-08 14:01] jlost commented on #248
The current behavior is: nothing happens. There's no way to tell short of having ROHQ visible in another tab. The Zoom meeting isn't deleted when the ROHQ Meeting is deleted. I wonder what happens when a Zoom meeting is deleted while it has participants. Does the operation fail? Do the participants get booted? If they get booted, maybe it makes sense to delete the backend Meeting in sync with the

[2020-12-08 15:09] jonespm opened #253 "Upgrade node 12 LTS to currently supported LTS"
We updated MyLA from Node 12 to 14. [The even node versions](https://nodejs.org/en/about/releases/) are the LTS maintenance and 12 just entered it's LTS stage.

Also if you switched the image from node:12-alpine to node:14-slim  when upgrading it would ensure that it builds without the rate limit issue on Openshift.

The Dockerfile changes for MyLA were minimal but there were a few other packages

[2020-12-08 17:31] ssciolla commented on #233
Based on the requested text, I am assuming that the "Joining the Meeting" and "Having Trouble with Video? cards should be visible even before the meeting has been created. Because the meeting number won't exist until the meeting is created, I've added some placeholder text in that case. Here's what it will look like for Zoom (pre-meeting creation). @mfldavidson and @teshsopher, I'm happy to tweak

[2020-12-08 17:59] ssciolla commented on #233
Hm, thinking about the pre-meeting creation Cards a little more. The one-touch dial-in link will be broken as well if there is no meeting number. Maybe we should hide the "Having Trouble with Video?" box until the meeting is created?

[2020-12-08 18:14] teshsopher commented on #233
Would it be worth having a sort of "post-join" meeting page? For instance, when the attendee clicks the Join Meeting button, they are taken to a webpage where they can see the meeting details (host, agenda, etc) and could re-join the meeting if they lost connection or had to drop out of the meeting. Then, on that page, we can have the help cards for folks who are having issues after they've tried

[2020-12-08 18:21] ssciolla commented on #233
Interesting thought, though with SPAs, it doesn't actually have to be a new page -- at which point, maybe we're pretty close to that already? A new page or UI would require more back-and-forth than I think we have time for. For now, I'm going to just now show the "Having Trouble with Video?" or dial-in info in the "Join Info" pop-up until the meeting is created. If you think there should be altern

[2020-12-08 19:57] #226 closed

[2020-12-08 22:08] #233 closed

[2020-12-08 22:08] #235 closed

[2020-12-08 22:08] #247 closed

[2020-12-08 22:22] ssciolla opened #255 "Notification unit test failing"
@jlost, I neglected to check the unit tests when I was reviewing your PR #251. I think deleting the `delete` trigger function broke this test. It shouldn't be a big deal to fix or remove it. It may also be worth looking at the other tests to see if they should be tweaked anywhere.

[code]

[2020-12-08 22:29] ssciolla opened #256 "userWebSocketError in queueManager is not registered for ErrorDisplay"
This is a somewhat minor issue, but my IDE is telling me `userWebSocketError` is unused in `queueManager.tsx`. We should register a `User Connection` error source to be used with `ErrorDisplay`, so we're aware if that particular WebSocket connection has issues.

[2020-12-09 02:14] #256 closed

[2020-12-09 13:29] teshsopher commented on #233
I didn't know that, that's pretty interesting! It's definitely something to think about, but I think your solution of hiding the joining instructions until the meeting is available is good!

[2020-12-09 18:32] jlost opened #259 "Execute unit tests with GitHub Action"
Automatically execute unit tests when code is pushed via GitHub Actions.

[2020-12-09 18:33] jlost commented on #255
Good catch, I tested it manually and the unit tests slipped my mind. I created #259 to prevent that from happening in the future.

[2020-12-09 20:59] #227 closed

[2020-12-10 17:24] mfldavidson opened #261 "Cancel my meeting link > popup changes"
This is not urgent but should probably be addressed eventually.

Now that the "Leave line" link changes to "Cancel my meeting" once the meeting is in progress, we probably need to adjust the language in the popup. The popup still shows:
![image](https://user-images.githubusercontent.com/31591389/101806784-5f404700-3ae2-11eb-8035-e46926703536.png)

Better language would be something like:

[2020-12-10 17:57] mfldavidson opened #263 "Prevent overlap of meeting type and Join Info link on queue management page"
For the Details column for Meetings In Queue, the meeting type badge and the Join Info link sometimes overlap.

Using BlueJeans meeting type since it is the longest meeting type, from width 768 to somewhere around 1200 the Join Info link overlaps the meeting type badge in Meetings In Progress (for example)
![image](https://user-images.githubusercontent.com/31591389/101810195-7bde7e00-3ae6-11eb-8f4

[2020-12-10 18:38] mfldavidson opened #264 "Having Trouble with Video? Info before the meeting is created"
Before the meeting has been created, show the Having Trouble with Video container on the attendee page, but show this text:

Show the same blurb where Having problems with video shows under Join Info on the host side

Once the meeting is created, show the text that is there now (i.e. the phone number, ID, etc) -- i.e. keep the way it shows up once the meeting is in progress the same as it is now,

[2020-12-10 19:46] #263 closed

[2020-12-10 19:59] mfldavidson opened #265 "If user is host of a Zoom meeting, Join Meeting as Host link should be the host link"
There are essentially 2 main types of links for Zoom meetings: host link and participant link. The difference is the letter that shows after the base URL, before the meeting ID. s for hosts, j for participants. Currently we are using the participant link everywhere. We want to switch to using the host link if the current user is the host of the meeting (i.e. if button is Join Meeting as Host)

If

[2020-12-10 20:01] mfldavidson opened #266 "Zoom meetings should be created with Join Before Host off"
When a Zoom meeting is created, join before host should be OFF

This is `join_before_host` in settings https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meetingcreate -- we want to change this from `true` to `false`

This issue is dependent on #265 -- we SHOULD NOT implement this change if 265 is not done

[2020-12-10 20:16] mfldavidson opened #267 "Make all hosts of the queue alternative hosts on Zoom meetings"
Make all hosts of the queue alternative hosts on Zoom meetings.

This is `alternative_hosts` in `settings` for https://marketplace.zoom.us/docs/api-reference/zoom-api/meetings/meetingcreate

Not sure what will happen if the host hasn't created their Zoom account yet or is in another account. Need to test. In UI there is an error that the user is not part of the same account. I don't see that as an

[2020-12-10 20:28] mfldavidson commented on #263
Tested in QA, this is the most I can force an overlap for BlueJeans:
![image](https://user-images.githubusercontent.com/31591389/101825899-43499f00-3afc-11eb-81f1-f05e37b126f2.png)

and In Person:
![image](https://user-images.githubusercontent.com/31591389/101825957-58263280-3afc-11eb-8862-6d1e9774f0bc.png)

This seems good, it's barely any overlap and BlueJeans has the most but will be gone soon!

[2020-12-10 20:32] mfldavidson commented on #256
This seems like one that is sort of tested by default when merged so moving to done

[2020-12-10 20:40] ssciolla commented on #256
Yeah, it's minor. You could probably test it by going to the `QueueManagerPage` and turning off your WiFi/Ethernet connection.

[2020-12-10 20:47] mfldavidson opened #268 "Add a waiting room to Zoom meetings"
When ROHQ creates a Zoom meeting, it should add a waiting room, and also specify that authentication should be off

[2020-12-10 20:58] ssciolla opened #269 "WaitingTurnAlert needs to be fixed so first-in-line text is shown"
The specific alert text shown to those who are first in line is not showing up because the `WaitingTurnAlert` assumes that first in line is `0`, not `1`. We need to either modify this or how the rest of the attendee-facing queue page handles `line_place`.

[2020-12-10 20:59] mfldavidson commented on #231
Tested and working in QA except for "when attendee is first in line" part has a bug--new issue #269 for the bug, so moving this to done.

[2020-12-10 21:32] mfldavidson opened #270 "Filter out meetings in progress when calculating number of people in line for attendees pre-queue-join"
When an attendee is viewing a queue but has NOT joined yet, this info shows:

That number should show the number of people in line, and NOT include number of meetings in progress. Currently it includes number of meetings in progress.

[2020-12-10 22:00] mfldavidson opened #271 "Always show prompt to enable attendee SMS notifications if attendee is in queue"
Show prompt to enable attendee SMS notifications if attendee is in queue, even if first in line (currently only shows if 2+ in line)

[2020-12-10 22:23] mfldavidson opened #272 "Change "End Meeting" button under "Meetings in Progress" to use trash icon"
The button that says "End Meeting" once a meeting is in progress should be changed to the remove meeting trash icon.

[2020-12-10 22:30] ssciolla commented on #271
Hm, okay, I'll take care of this also in PR #273.

[2020-12-11 14:50] mfldavidson opened #274 "Only the assigned host can create meetings"
Once a meeting has been assigned to a host in Meetings In Queue, only the assigned host can see the Ready for Attendee/Create Meeting buttons OR remove the meeting. Restrict via show/hide buttons as well as REST actions > only assigned host.

Once the host is assigned, other hosts (those NOT assigned) see this message in Meeting Actions where the buttons WOULD be:

[2020-12-11 15:11] jlost commented on #274
REST actions & endpoints should also be restricted to assignees only (if assigned).

[2020-12-11 15:55] mfldavidson opened #275 "Handle host uninstalling Zoom app"
If a host uninstalls the Zoom app, the only way I can figure out for them to reinstall it is:
1. Someone with superuser privileges goes in to the user's account in admin and replaces Backend Metadata with:
`{
    "zoom": {
    }
}` and saves
2. Host navigates to a queue that has Zoom as an allowed meeting type and re-authorizes

That's the only thing I can find that triggers them to re-authorize.

[2020-12-11 15:56] mfldavidson opened #276 "Capitalize Zoom in backend_name"

[2020-12-11 19:50] mfldavidson opened #280 "Remaining tasks for Joining the Meeting"
Some Zoom and BlueJeans join information was not implemented according to #233. Remaining tasks:
- [x] BlueJeans href is correct, but text should be "Getting Started with BlueJeans at U-M" (currently shows "How to use BlueJeans at U-M"--need to make text match the name of the page they'll land on to avoid confusion)
- [x] Zoom text should be "Getting Started with Zoom at U-M" (currently shows "How

[2020-12-11 20:03] #255 closed

[2020-12-11 20:57] jlost opened #282 "Validate that assignee is a host"
Throw an error if a Meeting's `assignee` is not in the `hosts`.

[2020-12-11 21:30] #269 closed

[2020-12-11 21:30] #271 closed

[2020-12-11 21:58] jlost opened #283 "Zoom Meeting sometimes created with wrong owner"
Repro steps:
* Create a queue with two hosts
* Create a meeting and assign it to the second host
* Start the meeting
* Error behavior: Underlying Zoom meeting is owned by first host. Correct behavior: underlying Zoom meeting is owned by the second host.

Closed by #278

[2020-12-14 16:38] #275 closed

[2020-12-14 16:38] #283 closed

[2020-12-14 16:46] ssciolla opened #286 "Update README.md with Zoom details, other changes if needed"
The `README.md` file should receive some basic updates mentioning the Zoom integration and how to configure the Zoom credentials.

[2020-12-14 16:47] #280 closed

[2020-12-14 17:20] #274 closed

[2020-12-14 18:24] #264 closed

[2020-12-14 19:38] #270 closed

[2020-12-14 19:39] jlost opened #289 "Audit API Endpoints"
Minimize the API surface and make sure you can't do things like assign foreign keys in a way that doesn't jive with business logic.

[2020-12-14 20:20] #282 closed

[2020-12-14 20:22] #286 closed

[2020-12-14 20:29] #265 closed

[2020-12-14 20:30] jlost commented on #266
Fixed by #279

[2020-12-14 20:30] #266 closed

[2020-12-14 21:18] #276 closed

[2020-12-15 18:44] mfldavidson opened #294 "Add link to instructions on signing in to Zoom to Authorize page if authorizing Zoom"
this should be an environmental variable not hard coded link

[2020-12-15 18:50] mfldavidson opened #295 "Change alert when attendee is first in line but meeting not created from green to yellow"
Upon further reflection, since the meeting is not ready for the attendee yet, the alert box should be yellow, not green, when the attendee is first in line but the meeting hasn't been created

[2020-12-15 18:59] jlost commented on #294
@mfldavidson I imagine this should open in a new tab?

[2020-12-15 19:10] jlost commented on #294
![image](https://user-images.githubusercontent.com/11338926/102261150-44eddb00-3edf-11eb-9935-03b819fc8817.png)

[2020-12-15 19:15] mfldavidson commented on #294
Yes

[2020-12-15 19:16] mfldavidson commented on #294
I now realize that saying "Please click the following link" and then having a link in there that is NOT the link is confusing. Can we please change it to "Please click Authorize to allow..."

[2020-12-15 19:19] #294 closed

[2020-12-15 19:36] #295 closed

[2020-12-15 20:58] ksofa2 opened #298 "Fix non-obvious hortizontal scrolling on mobile"
On phone browsers the “Meeting Actions” column in the queue manage page requires a non-obvious horizontal scroll

[2020-12-15 21:04] ksofa2 commented on #298
For example,
![Remote Office Hours Queue - Office Hours](https://user-images.githubusercontent.com/152920/102272693-27287200-3eef-11eb-839c-0ce0563f46cf.jpeg)
 on Safari on an iPhone 11

[2020-12-16 15:22] mfldavidson opened #300 "Change queue closed message to attendees if meeting is in progress"
If the meeting is in progress, the message that attendees see if the queue is closed should change from:

to:

[2020-12-16 16:00] mfldavidson opened #301 "Info for host on host key"
If the current user is the host of the meeting, when they click Join Info, instead of showing "You do not need a host key or participant ID" they should see "You will need to enter a host key. Find your host key at the bottom of [your U-M Zoom profile](https://umich.zoom.us/profile). DO NOT share your host key with anyone! You do not need a participant ID."

[2020-12-17 09:40] adityasadalage commented on #300
Hi, I wanted to understand whether the message should explicitly be changed to "TBD" or does the new message still need to be determined in order to set the success criteria for this issue?

[2020-12-17 09:42] adityasadalage commented on #300
In the leave the line popup, is it sufficient to set the disclaimer as "The queue is currently closed. By leaving the queue, you will lose your place in line and will not be able to rejoin until the queue is reopened."

[2020-12-17 17:51] #19 closed

[2020-12-17 17:55] mfldavidson commented on #22
With Zoom this becomes https://marketplace.zoom.us/docs/api-reference/webhook-reference/meeting-events/meeting-participant-waiting-for-host

[2020-12-17 17:58] mfldavidson opened #302 "Remove BlueJeans integration"
I believe all the changes we've made to the backends means there is little, if anything, on the frontend that needs to be done to remove BlueJeans. Please list tasks here.

[2021-01-04 14:26] jlost commented on #302
My thoughts on the steps involved:
1. Write a script that changes all BJ meetings to Zoom meetings (this might just be a few lines in the shell)
2. Run it in dev/QA and remove BJ env vars to disable BJ. Do testing to make sure that doesn't produce any unexpected behavior, esp with existing meetings/queues
3. Add a deprecation notice that on (date) all BJ meetings will automatically be changed to Z

[2021-01-04 17:09] ssciolla commented on #302
There is a significant amount of BlueJeans-specifc code (the backend module), a couple BJ frontend components for dial-in info. It may be worth discussing whether these modules/components should be removed as part of this shift. It could be useful to someone else who tries to run the application, but it seems a bit silly to retain/maintain code that we aren't and don't plan on using in the future.

[2021-01-04 17:20] jlost commented on #302
Yeah, on one hand it has some amount of value (can help other institutions, gives us a means to go back to BJ if necessary in the future, keeps the backend interface from being overfitted to Zoom). OTOH it has a definite cost in maintenance, code noise and taking up mindshare. But one of the most important consideration, and correct me if I'm wrong, is that after a certain point (when?) we'll no l

[2021-01-05 15:27] jlost opened #303 "BlueJeans -> Zoom Migration Script"
Some things that will need to be a part of this:
* Queues: If `queue.allowed_meetings` allows BlueJeans but not Zoom, remove BlueJeans and add Zoom. If it allows BlueJeans and Zoom, remove BlueJeans.
* Meetings: There are a couple directions we could go in...
    * Leave Meetings with `backend_type` of BlueJeans untouched for now and make sure the application code gracefully handles situations whe

[2021-01-05 15:30] jlost commented on #302
I created #303 for details of the script.

One way we could make this changeover more gradual is by changing `DEFAULT_BACKEND` to `zoom`, which is also something we may want to give warning about.

[2021-01-06 18:56] jlost opened #304 "Change homepage text to not mention BlueJeans"
![image](https://user-images.githubusercontent.com/11338926/103808984-d0faaa80-5026-11eb-8951-230463234831.png)

This text mentions BlueJeans but not Zoom. Ideally, it should probably be sourced from the `friendly_name` of `ALLOWED_BACKENDS`.

[2021-01-07 16:49] ssciolla commented on #303
@jlost, @mfldavidson, what do you think about instead of deleting un-started meetings with BJ, simply changing the meeting type to the default (a concept that is pretty baked into the Django backend already, and will be Zoom in the case of deployment environments)? In combination with some kind of MOTD or Alert, I think this might be the least disruptive way to handle this case. Deleting the meeti

[2021-01-07 17:23] jlost commented on #303
So if it's unstarted + bluejeans, change to the default, and if it's started + bluejeans, delete it. I like that and agree it could less disruptive, particularly if there are a lot of unstarted meetings of type BlueJeans when we do the migration. The only downside is that exactly what we're migrating becomes a little more conditional and thus could be harder to explain to users, or could generate

[2021-01-07 17:28] ssciolla commented on #303
I was actually leaning toward retaining the existing started BJ meetings for this phase of the migration, since with a little finessing they're still functional. The downside is that we may also need a way to delete them later when the backend is removed, which is more code.

[2021-01-07 17:39] ssciolla commented on #303
I'm okay going either way with respect to started BJ meetings. Whichever way we decide to go, I think there would still be merit to retaining unstarted BJ meetings by changing the `backend_type`, as the details of the queue line are mostly maintained.

[2021-01-08 15:47] mfldavidson commented on #303
I'd rather retain the meetings to minimize disruption but I'm happy to discuss as we discover more about what is possible. LMK when a decision is needed.

[2021-01-15 18:46] ssciolla opened #306 "Enforce Meeting.backend_type in Meeting.queue.allowed_backends via API"
We don’t seem to be enforcing that `Meeting.backend_type` needs to be present in `Queue.allowed_backends` when a meeting is created via the API. Seems like we could add another `validate` function to `MeetingSerializer` to do this. We don't allow people to do this in the UI.

There is also a question of whether we would want to prevent changes to `Queue.allowed_backends` if it involves removing a

[2021-01-18 17:07] jonespm commented on #100
Some additional features if this were ever implemented.

* Could make use of the [Appointment Groups API](https://canvas.instructure.com/doc/api/appointment_groups.html) to create pre-defined meeting times that appear in Canvas. For instance 10 people every 30 minutes. Either allowing students to signup or pre-assigning them.

* Could make use of [Conversations](https://canvas.instructure.com/doc/

[2021-01-18 19:45] #303 closed

[2021-01-20 20:46] ssciolla commented on #302
Are we viewing this as a parent issue? From my perspective, I'm not sure anything else needs to be done beyond the work on #303 in this project/release cycle. The actual BJ-related code (the backend class -- and references to it -- and a couple front-end components) can be removed in 1.6. We can either create a separate issue and have this be the parent, or re-purpose or treat this issue as the ac

[2021-01-20 21:01] ssciolla commented on #304
@mfldavidson, I think you alluded to this in a recent meeting; this should probably not reference a specific VC technology at all. How about something like this?

"Join or host a queue for virtual or in-person office hours!"

[2021-01-20 21:03] ssciolla commented on #304
You could add a line about Zoom if that's important. Something like this:

"The tool currently supports {backend.friendly_name} videoconferencing."

[2021-01-20 21:04] mfldavidson commented on #304
How about "Join or host a queue for office hours." No mention of types?

[2021-01-20 21:05] mfldavidson commented on #304
You could also list out the types but I balk at hard coding any specific type of meeting (like in person)

[2021-01-20 21:06] ssciolla commented on #304
Yeah, we wouldn't need to hardcode anything if we listed the types, but I like your suggestion of not including any, as long as that's okay with you.

[2021-01-20 21:08] ssciolla commented on #304
I guess my thinking was that the pre-login landing page should give some more specific idea of what's being offered.

[2021-01-20 21:15] ssciolla commented on #301
Okay, wait, to be clear, are we changing things such that a host key is required? My impression from the conversation today was that this would only be needed if you were calling in. (I just want to make sure what we're trying to accomplish, how to organize the related content.)

[2021-01-20 22:50] ssciolla commented on #272
@mfldavidson, I agree that the button and dialog should use consistent language.

I'm thinking about this a little more, and I'm slightly thrown off by the "End Meeting" language we're preferring. I will defer to you, but I wanted to share my thinking. Does "End Meeting" imply to users (erroneously) that a call will be sent to Zoom (or whatever service) that actually ends/terminates the meeting th

[2021-01-21 16:30] jlost commented on #272
I prefer for the interface to reflect the technical reality, since I think it improves peoples understanding of their app and their ability to use it, decreasing number of tickets and making it easier for us to explain to users how and why things work the way they do. So I'm in agreement with @ssciolla here, although it's not a super strong preference.

[2021-01-21 19:08] teshsopher commented on #272
I'm leaning more toward using "Remove Meeting"/the trash icon for this too.

I recently finished with some user testing following the release of Zoom (I've been re-watching the recordings for the ones before break so I can compile my results). It was a very small group of advisors, but most of the folks I tested with had some confusion over the "End Meeting" wording, for the same/similar reason @s

[2021-01-25 15:33] #304 closed

[2021-01-25 15:43] mfldavidson commented on #301
No, we are not making any changes. The host key is already required if the host is only calling in on the phone, and not a computer. Maybe we should make that clear, here's adjusted language:

[2021-01-25 15:46] mfldavidson commented on #267
After thinking about this a bit, this has implications beyond just the settings via API because the button would have to change to Join Meeting as Host...I'm going to go ahead and table this.

[2021-01-25 15:47] #239 closed

[2021-01-25 15:49] mfldavidson commented on #272
I'm ok with switching to trash icon and keeping the same language in the popup. Should I go ahead and edit the issue to reflect that @ssciolla @jlost @teshsopher ?

[2021-01-25 15:54] ssciolla commented on #272
That works for me. Maybe just confirm with @teshsopher.

[2021-01-25 15:56] teshsopher commented on #272
That works for me too!

[2021-01-25 17:43] ssciolla commented on #301
Thanks for the clarification, @mfldavidson. I modified the language/formatting a little bit to accommodate the conditional logic. I also felt like the "if you only join by calling in on a phone" might be a bit heavy-handed given that this is already in a dial-in blurb. Can you take a look at the images below and critique my changes?
<img width="744" alt="Screen Shot 2021-01-25 at 12 37 43 PM" src=

[2021-01-25 18:37] mfldavidson commented on #302
Does the script also remove BlueJeans as an option in the UI? If yes, I'm ok with using that as the issue in this project and moving this one @ssciolla

[2021-01-25 18:51] mfldavidson commented on #301
Participant view looks good and I love your edits. Great work @ssciolla , let's open a PR.

[2021-01-26 21:40] ssciolla commented on #302
@mfldavidson, eh, the script doesn't remove it, but the PR passes info about whether backends are enabled to the frontend, which is used in the dropdowns and allowed meeting type selection UI (the available backends are filtered to those that are enabled). I'd say this is essentially what you're asking for, and that you can make a separate issue or #303 have QA testing criteria regarding this.

[2021-01-27 16:57] ssciolla opened #311 "Create parent class for Backends"
@jlost, this method is identical across the three backends, which begs the question whether it should be inherited from a parent class. I introduced this method, but I'm fairly certain you've had occasion in the past to consider something like this (and thus that you have some opinion about this). Any thoughts you'd like to share?

_Originally posted by @ssciolla in https://github.com/tl-its-umich

[2021-01-27 17:21] #301 closed

[2021-01-27 18:52] ssciolla commented on #300
@adityasadalage, it sounds like you were looking at this for a class, I'm sorry we weren't more responsive earlier. I need to take this on because we're working towards a release.

[2021-01-27 20:40] ssciolla commented on #300
@mfldavidson, can we standardize the concluding language so it's the same whether or not the meeting is in progress? I would like to do something like this:

[code]

[2021-01-27 22:38] mfldavidson commented on #300
I love it. Good thinking.

I hate to add to this issue since this isn't what it's about, but it's so minor and we are here, can we tweak the last sentence as so?

[code]

[2021-01-27 22:43] ssciolla commented on #300
Sure, done. Please see PR #313.

[2021-01-28 15:56] #300 closed

[2021-01-28 15:58] ssciolla commented on #272
@mfldavidson, I have a draft PR for this (#310), but I'd appreciate it if you could update the issue so I'm sure I'm doing everything you want related to this change.

[2021-01-28 16:04] mfldavidson commented on #272
@ssciolla does that work?

[2021-01-28 16:19] ssciolla commented on #272
@mfldavidson , sure, the issue title needs to be changed, but I'll do that. We may want to just review the language everywhere after the change is in place to make sure we're being consistent.

[2021-01-28 16:30] mfldavidson commented on #302
That sounds like exactly what I'm asking for but maybe I'm misunderstanding?

[2021-01-28 17:05] ssciolla commented on #302
@mfldavidson , yeah, maybe I'm mincing words. The "script" isn't doing anything to remove the option from the UI; it is now just baked into the application/UI that backends/meeting types that aren't configured won't appear as options for new meetings or allowed meetings types. The script basically cleans up the database fields to make sure the uses of the disabled backend are gone, even though the

[2021-02-01 22:07] mfldavidson opened #314 "Method to communicate with attendees in the queue"
Brainstorm: Would this be an integration with an existing U-M chat feature? (Google Chat?) A way to post updates in a feed on the queue page that people in line can see? Etc. We would not want to try to build a fullblown chat feature inside of the tool as that is out of scope, but we can try to meet the need with an integration ("Click here to send a chat to the user" or "Click here to send a chat

[2021-02-11 15:35] #272 closed

[2021-02-15 21:45] mfldavidson opened #315 "Make profile link in host key blurb target=_blank"
In this section for hosts calling in to meetings:

We should make "your Zoom profile" link target=_blank so that they aren't taken away from the page in ROHQ they're currently working on

[2021-02-15 22:10] mfldavidson commented on #301
Tested in QA on 2/15 using Chrome Desktop:
- [x] confirmed that the blurb only shows up for hosts and not attendees
- [x] confirmed that the blurb matches the instructions people hear when they call in
- [x] confirmed that clicking the link to your Zoom profile works properly if currently logged into Zoom in the browser, or if not logged in; if user is logged in to a DIFFERENT Zoom account, it wil

[2021-02-15 22:12] mfldavidson commented on #304
Tested in QA on 2/15 using Chrome Desktop, testing passed
![image](https://user-images.githubusercontent.com/31591389/107997518-ec0af380-6fb0-11eb-85b0-9714fa24065b.png)

[2021-02-15 22:19] mfldavidson commented on #239
Tested in QA on 2/15 using Chrome Desktop:

- [ ] As a host on the queue management page, try to add a user who is already in a meeting = [user] is already in a meeting message shows just above the entry field, very visible! ✅
- [ ] As a host on the queue management page, try to add an invalid "uniqname" between 3 and 8 characters = invalid user message shows just above the entry field, very visib

[2021-02-15 22:22] mfldavidson commented on #272
Tested in QA 2/15 using Chrome Desktop:

- [ ] Added user for a Zoom meeting, self-assigned host, created meeting, then removed with trash icon = success ✅
- [ ] Added user for an In Person meeting, self-assigned host, created meeting, then removed with trash icon = success ✅

[2021-02-15 22:31] mfldavidson commented on #300
Tested in QA 2/15 using Chrome Desktop:

- [ ] Added myself to the queue while it is closed, self-assigned, then checked View as Visitor and saw message "This queue has been closed by the host, but you are still in line. If you are unsure if your meeting will still happen, please contact the host." = success ✅
- [ ] Back to queue management page, created meeting, then back to view as visitor and s

[2021-02-15 22:34] ssciolla opened #317 "When migrating, replace disabled backend with the default backend, ignoring other enabled backends"
During discussion of the migration logic, we determined that it in the case of `['inperson', 'bluejeans']` in `Queue.allowed_backends`, it would be preferable to replace `bluejeans` with `zoom` (or some default), rather than removing the disabled backend (i.e. `['inperson']`), which is what `BackendPhaser` is doing now.

I proposed the following on Slack:

"We could replace `remove_allowed_backend

[2021-02-16 23:47] #311 closed

[2021-02-17 18:10] ssciolla commented on #311
This can be marked as QAed/Done after a regression test.

[2021-02-17 20:21] #315 closed

[2021-02-17 22:18] #317 closed

[2021-02-17 22:34] #261 closed

[2021-02-18 19:03] mfldavidson commented on #317
Tested and working in QA 2/18/21

[2021-02-18 20:55] mfldavidson commented on #315
Tested and working in QA 2/18/21

[2021-02-18 20:56] mfldavidson commented on #261
Tested and working in QA 2/18/21

[2021-02-18 20:59] mfldavidson commented on #303
Tested in QA 2/18/21:

### Pre-migration
- [x] Created a queue with all meeting types enabled
- [ ] Created a queue with only BlueJeans enabled
- [ ] Created a queue with only Zoom enabled
- [ ] Created a queue with both BlueJeans and Zoom enabled
- [ ] Created a queue with both BlueJeans and In Person enabled
- [ ] Created a meeting in queue with BlueJeans type
- [ ] Created a meeting in progress

[2021-02-22 18:09] mfldavidson opened #320 "Bug: after disabling a backend, if a meeting is in the queue with that backend, host can't change settings"
Once a backend has been disabled, if there is still a meeting in the queue that uses that backend, he host can't change settings because an error shows about the backend:
![image](https://user-images.githubusercontent.com/31591389/108750374-f0825f80-750e-11eb-8446-5e42e932cc90.png)

Repro steps:
1. With BlueJeans enabled as a backend and using a queue that has BlueJeans enabled, create and start a

[2021-02-22 19:08] #320 closed

[2021-04-07 20:05] vjcao commented on #204
Is it ok if I work on this issue?

[2021-04-07 20:06] vjcao commented on #298
May I work on this issue?

[2021-04-07 20:50] mfldavidson commented on #298
Oh hey @vjcao ! Yes, please go ahead and work on this issue and open a PR with your work when ready. We are not actively developing right now but we can still potentially incorporate your work into a future release. Thank you so much for your interest in contributing! We really appreciate it.

[2021-04-08 00:16] vjcao commented on #234
May I work on this issue as well? Thank you.

[2021-04-08 15:29] mfldavidson commented on #234
Please do! Thank you @vjcao

[2021-04-09 15:27] mfldavidson commented on #204
Yes please, thank you so much @vjcao

[2021-04-22 16:30] vikaschanduri commented on #234
Hi, would be great to work on this issue as well!

[2021-04-23 21:03] ssciolla commented on #234
@vikaschanduri, I think we're good on this issue now, @vjcao has it pretty much done.

[2021-05-05 17:54] #268 closed

[2021-05-05 17:55] #234 closed

[2021-05-05 17:58] #204 closed

[2021-05-05 17:59] teshsopher opened #330 "Menu icon for small screens"
Related: #327

On small screens, the menu collapses into a "hamburger" or "stacked" menu. While the menu is open/expanded, this icon change to an "X" or other icon to indicate that the menu can be closed.

This is mostly a "nice-to-have" change that could help with some minor confusion for users, but it is not a strictly necessary one.

[2021-05-05 18:28] ssciolla opened #331 "Exception related to workers occurs with latest build"
Though the project images build fine, upon startup in the QA environment, the application throws an exception during the worker setup process, finishing with `TypeError: SelectorEventLoop required, instead got: <uvloop.Loop running=False closed=False debug=False>`.

This appears to be an issue related to `django/channels` and its dependency `twisted`:
https://github.com/django/channels/issues/1639

[2021-05-06 02:08] #331 closed

[2021-05-06 14:58] mfldavidson commented on #331
I assume given that QA built, we can consider this tested and move to done @jlost @ssciolla please correct me if wrong

[2021-05-06 15:05] mfldavidson commented on #204
Tested everywhere I can find where this would appear, which turns out to only be the header nav. The hover on Home and Resources & Support looks fantastic. I was similarly worried that the gray for the dropdown might not provide enough contrast against the black, but @teshsopher approved it so I will not worry. Great work on this issue @vjcao . You'll see your work reflected in production mid next

[2021-05-06 15:10] mfldavidson commented on #268
I tested this by creating a meeting that I am the host of while my Zoom account settings have Authentication as the only default security option for new meetings, and with the Require one security option setting turned on. As expected, the meeting was created with a Waiting Room on and Authentication and Passcode off.

[2021-05-06 15:25] mfldavidson commented on #234
![image](https://user-images.githubusercontent.com/31591389/117322345-ed371880-ae5b-11eb-9bf7-6983c7c407fc.png)

Tested and passed:
- [x] Adding this feature to a queue that already allowed in-person meetings didn't break anything since it isn't required
- [x] Checking in-person as a meeting type in queue settings shows the field, unchecking it hides it
- [ ] Checking in-person as a meeting type i

[2021-05-06 16:06] mfldavidson commented on #234
Testing passed, excellent work @vjcao . You'll see this in prod starting mid next week!

[2021-05-11 15:33] mfldavidson opened #334 "Set meetings associated with deleted queues as deleted (manual housekeeping)"
This is not a very big deal and also not a code change, but putting it here so we don't forget to handle. Prior to version 1.1, there was a bug where meetings in queues would not be deleted when the queue was deleted (deletion did not cascade). [This bug was fixed in 1.1](https://gitlab.umich.edu/its-inf-net-software/remote-office-hours-queue/issues/115) but there are still 31 meetings that belong

[2021-05-11 15:34] mfldavidson commented on #302
We had some confusion on what exactly we were considering this issue to be, but now BlueJeans is 100% removed so I'm associating this with the 1.6 project and closing.

[2021-05-11 15:34] #302 closed

[2021-05-11 16:06] mfldavidson opened #336 "Allow admins to edit users who haven't authorized any backends"
Not super high priority but should probably fix eventually.

When attempting to edit a user in admin, such as to add or remove staff status, the form will not save if the user has not authorized any backends. The `Backend metadata` field is auto-populated with an empty dictionary `{}` and is a required field, but the empty dictionary doesn't appear to be considered content and therefore is counted

[2021-07-30 17:47] ssciolla opened #341 "`MultipleObjectsReturned` exception from `MyUserSerializer`"
I happened to be looking at the production logs, and I saw this exception being thrown sometimes. This is probably something we should look into to determine whether it's significant/affecting the user experience.

[code]

[2021-07-30 18:00] ssciolla commented on #341
Looking at it a bit more closely, this seems to indicate someone was assigned to two meetings. How does that happen? I didn't think that was possible.

[2021-07-30 18:46] mfldavidson opened #342 "Zoom will no longer accept scopes in OAuth request URL"
Scopes need to be removed from OAuth request URL as users are seeing an "Invalid scopes" error when they attempt to install the Zoom integration. Refer to https://devforum.zoom.us/t/invalid-scope-errors/52654/10

[2021-07-30 18:46] #342 closed

[2021-12-01 17:51] ssciolla opened #346 "Create Meeting with PMI Zoom setting disrupts meeting joining"
Due to recent Zoom changes, if you have the "Use Personal Meeting ID (PMI) when scheduling a meeting" setting enabled on your Zoom account, when you launch the meeting as a host, you see the following error message from Zoom:
![Screen Shot 2021-12-01 at 12 48 16 PM](https://user-images.githubusercontent.com/35741256/144286871-71450c8b-d377-47be-9ea0-a9fc38d5f939.png)

It looks like we may be able

[2021-12-01 18:07] #346 closed

[2021-12-02 20:47] jonespm opened #348 "Frequent websockets.exceptions.ConnectionClosedError: code = 1006 in production logs"
On a typical day it looks like this type of error comes up frequently, about 50 times it seems on a typical day.

It looks like the only line we might be able to catch and suppress this is
[code]
I'm not sure if it's causing any user facing error but it makes reading the logs difficult. Perhaps newer versions are better? It's also possible it's related to an Openshift proxy read timeout?

[code]

[2021-12-02 20:58] jonespm commented on #348
This seems like it might be relevant: https://stackoverflow.com/a/47521829/3708872

I don't exactly know the code for this but I've seen websocket has a default [ping_interval](https://websockets.readthedocs.io/en/7.0/api.html) of 20s and unless this is disabled (to be None) it can cause these issues if uncaught and having a conflict with a proxy.

I'm not sure what the default timeout is for Open

[2022-05-06 21:24] ssciolla opened #357 ""Exception: Can't change assignee once meeting is started!" message should be shown to host"
When one host goes to assign themselves as a host when another host has simultaneously or previously created a meeting, an error is thrown in the backend:
[code]
However, the frontend only shows the user "Attendee: Internal Server Error". It's apparent that what has happened because the user would have seen the meeting appear under "Meetings in Progress", but it would be better if a message like t

[2022-05-18 14:29] jonespm opened #359 "Update log format to include X-Forwarded-For to capture users IP in logs"
We had an email discussion in January 2022 to determine the source of traffic and changing the log to include the origin IP. It was suggested that the [guincorn configuration](https://github.com/chriskretler/openshift-python-sample/blob/main/src/guniconf.py#L23) could pick this up from:

`access_log_format = '%({X-Forwarded-For}i)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s %(	`

@jlost commented that

[2022-05-26 19:02] ssciolla opened #360 "Feature request: Let hosts set hours of availability, automatically change queue status"
We had a user request that hosts be able to enter hours of availability, I think with the idea that this would control whether the queue status was open or closed.

[2022-08-29 16:45] ssciolla opened #363 "Http status code for invalid token during refresh seems to have changed"
We discovered that the error code thrown when a Zoom refresh token is invalid seems to have changed at some point. It was previously 401, but now seems to be 400. The code below needs to be changed to accept both or a range so that we can avoid issues in the future when a user's authorization with the tool is somehow removed. It also may make sense to add a username to log message so we can better

[2022-08-29 17:18] jonespm commented on #363
I also don't see Zoom [actually documenting](https://marketplace.zoom.us/docs/guides/auth/oauth/#refreshing-an-access-token) what the unsuccessful response is. They just say "If successful". So probably implementing it the way the describe and having the just check if the response has JSON, otherwise it's an error. Then we don't check any status codes.

[2022-08-29 19:41] ssciolla commented on #363
@jonespm, I understand your thinking here, but what if some 5XX errors return JSON? I don't think we'd want to delete tokens in this case. I think I'm going to opt to look for 4XX errors. We can discuss on my PR.

[2022-08-30 16:39] jonespm commented on #363
I verified that this works based on this test plan:

There are messages in the logs about the user IDthat this fails on.

Test Plan:

1. Create a queue with Zoom
2. View as Visitor, Join the Queue
3. Go back to Manage the Queue (link on the bottom)
4. Go to the bottom and click the green "Create Meeting" button..
5. Authorize and accept
6. The meeting should be joinable and start zoom when clickin

[2022-08-30 18:46] ssciolla opened #365 "Calls to Zoom API don't use unexpired access token"
In looking at and testing #363, at some point I realized that Zoom API calls always seem to first refresh the token; access tokens do not seem to be re-used, even though they are stored in `User.profile.backend_metadata`. Upon inspection, this seem to be because the math for the expiration time seems to be off. It appears it should be adding Zoom's `expires_in` value, not subtracting it.

https://

[2022-09-01 20:54] jonespm opened #367 "Dockerfile does not build on M1/ARM"
On M1 Mac this fails building with the error.

[code]
Looks fixed in this issue https://github.com/psycopg/psycopg2/issues/1286

And in the latest version of psycopg2-binary

`+    'psycopg2-binary~=2.9.3'
`

[2022-09-02 17:49] ssciolla commented on #365
Test plan:

Token is only being refreshed as necessary.

1. Look at admin page for user, look at backend metadata, noting expires time. If necessary, modify expires time to be in the past.
1. Create a meeting, check logs to see "Refreshing token" log message. Refresh admin page and check that the expires time has been updated.
2. Create another meeting. Ensure log message is not present. Check to

[2022-09-06 16:23] #365 closed

[2022-09-12 16:05] zqian commented on #365
I have followed the updated test plan. Success for all tests.

[2022-09-19 14:24] jonespm opened #369 "Broken INTERNAL link: Add missing favicon.ico and robots.txt"
Probably get a dozen or so messages a day about this missing file

[2022-09-22 15:27] jonespm commented on #369
Some other broken links that seem to be common and are not really an error

 /static/css/srs-banner.png
/robots.txt

[2022-10-25 15:54] zqian opened #370 "Python 3.11 upgrade"
reported by Matt: "Python 3.11 was released today. It looks like there were a lot of improvements around asyncio module. ROHQ is still back on Python 3.8 and I think we identified this as a potential package that needs updating someday. https://docs.python.org/3.11/whatsnew/3.11.html"

[2022-10-25 15:58] zqian opened #371 "provide quick link to the Knowledge article on connection error"
To help users deal with the known issue of connection error, we can provide the [KB article on connection error](https://teamdynamix.umich.edu/TDClient/30/Portal/KB/ArticleDet?ID=4290) inside the top info section of ROHQ home page.

[2022-11-10 21:33] #367 closed